# files made by an in-use server
/SERVER/inc/instance-config.php
/SERVER/.installed
/SERVER/templates/cache

# built client javascript
/SERVER/js

# other stuff
.DS_Store
thumbs.db
Icon?
Thumbs.db
*~
/node_modules
/.vagrant
