# instance-config
/SERVER/inc/instance-config.php

# .installed
/SERVER/.installed

# built script files
/SERVER/js

# templates cache
/SERVER/templates/cache

# other stuff
.DS_Store
thumbs.db
Icon?
Thumbs.db
*~
/node_modules
