# files made by an in-use server
/core/inc/instance-config.php
/core/.installed
/core/templates/cache

# built client javascript
/core/js

# other stuff
.DS_Store
thumbs.db
Icon?
Thumbs.db
*~
/client-core/node_modules
/.vagrant
