upstream watcher_upstream {
	server 172.27.0.1:4000;
}

server {
	listen 80;
	listen [::]:80;

	server_name tinyboardtest;

	client_max_body_size 12m;
	index index.php index.html index.htm;
	root /var/www;

	more_set_headers 'X-Test-Header: boop';

	if ($request_uri ~ ^(.*?/)index\.html(\?.*)?$) {
		return 301 $1$2;
	}

	location ~ ~$ {
		return 403;
	}

	location ~ /\.installed$ {
		return 403;
	}

	location ~ ^/templates/themes/.*/thumb\.png$ {
	}

	location ~ ^/(templates|inc)/ {
		return 403;
	}

	location ~ /config\.php$ {
		return 403;
	}

	location ~ ^/watcher/ {
		rewrite ^/watcher/(.*) /$1 break;
		proxy_redirect off;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header X-Forwarded-Proto $scheme;
		proxy_set_header Host $http_host;
		proxy_set_header X-NginX-Proxy true;
		proxy_set_header Connection "";
		proxy_http_version 1.1;
		proxy_pass http://watcher_upstream;
	}

	location ~* \.php$ {
		include fastcgi_params;
		more_set_headers 'Cache-Control: private, max-age=5';
		try_files $uri =404;
		fastcgi_pass unix:/var/run/php5-fpm.sock;
	}

	location ~* \.(jpe?g|png|gif|ogg|mp3)$ {
		expires 30d;
	}

	location ~* \.(css|js)$ {
		expires 30m;
	}

	location ~ ^(/[^/]+/res/([0-9]+))\+50.html$ {
		try_files $uri $1.html;
		expires 5s;
	}

	location ~* \.html?$ {
		expires 5s;
	}

	location ~ ^/(js|stylesheets)/ {
		autoindex on;
	}
}
