{% extends "generic_page.html" %}

{% block title %}Ponychan{% endblock %}

{% block extra_body_classes %}homepage{% endblock %}

{% block banner %}{% endblock %}

{% block header %}
	<header>
		<h1>Ponychan</h1>
		<div class="subtitle">
			{{ settings.subtitle }}
		</div>
	</header>
{% endblock %}

{% block main_body %}
	<hr />

	<div class="homeblock mainhomeblock">
		<p>Welcome to Ponychan.net! This is an imageboard for older fans of
		 the show <em>“My Little Pony: Friendship is Magic”</em>. <sup><a href="http://www.hotdiggedydemon.com/post/16367923346/why-adult-men-like-my-little-pony-friendship-is-magic">[What?]</a></sup>
	</div>

	{% if news|count > 0 %}
	<div class="homeblock">
		{% for entry in news %}
		<div class="newsitem" id="news_{{ entry.id }}">
			<h2>
				{% if entry.subject %}
					{{ entry.subject }}
				{% else %}
					<em>no subject</em>
				{% endif %}
				<span class="unimportant"> &mdash; by {{ entry.name }} at <time datetime="{{ entry.time|date('%Y-%m-%dT%H:%M:%S') }}{{ timezone() }}">{{ entry.time|date(config.post_date) }}</time></span>
			</h2>
			<div class="newscontent">{{ entry.body|raw }}</div>
		</div>
		{% endfor %}
	</div>
	{% endif %}

	<div class="homeblock" id="boards">
		<h2>Boards</h2>
		{% for category, boards in categories %}
			<h3>{{ category }}</h3>
			<ul>
			{% for board in boards %}
				<li><a href="{{ board.uri }}">/{{ board.shortname }}/ - {{ board.title }}</a> — {{ board.subtitle }}</li>
			{% endfor %}
			</ul>
		{% endfor %}
	</div>

	{% if recent_posts|count > 0 %}
	<div class="homeblock" id="recent_posts">
		<h2>Recent Posts</h2>
		<div class="recent_posts_parent">
		{% for post in recent_posts %}
		<div class="recent_post">
			<a href="{{ post.link }}">
				<img src="{{ post.thumb_uri }}" style="width:{{ post.thumbwidth }}px;height:{{ post.thumbheight }}px" alt="">
			</a>
			<div class="boardname"><a href="{{ post.boardlink }}">/{{ post.board }}/</a></div>
			{{ post.snippet_html|raw }}
		</div>
		{% endfor %}
		</div>
	</div>
	{% endif %}

	<div class="homeblock" id="rules">
		<h2>Rules</h2>
		<p>Failing to follow these rules may result in a ban from using the site.
		<h3>Sitewide</h3>
		<p>Blatant personal attacks will not be tolerated.
		<p>Blatant attempts to goad or “bait” users into uncivil conduct will not
		 be tolerated.
		<p>Disruptive behaviors that prevent others from engaging in a thread are
		 prohibited.
		<p>Racist, sexist, and other vitriolic behavior will not be tolerated. You don't have to be politically correct, but you are expected to maintain a minimum standard of behavior.
		<p>Stalking, harassment, or posting of others' personal information are
		 prohibited.
		<p>Friendly banter/mockery is fine, but hostility is not.
		<p>Spamming is prohibited.
		<p>No malicious impersonation of other users.
		<p>Do not post content illegal under United States law.
		<p>Accessing this site means you are responsible for the content of
		 your posts, images, and the consequences of them.
		<p>The staff reserves the right to enforce these and all other rules
		 and guidelines in the manner they see best for the site.
		<p>In general, R34 and gore are not allowed:
		<ul>
			<li>Depictions of sex acts, sex fluids, and underage sexualization are
			 prohibited.
			<li>Low effort edits/crops of pornographic images are prohibited.
			<li>Depictions of visible genitals or female nipples are prohibited. This
			 includes those visible through clothing (e.g. bulges and/or camel-toe).
			<li>Nipple bumps that are simple lines or indents are fine. If these
			 bumps are fully defined, excessive to the point of being a focus in the
			 image, or make the nipples visible through the clothing, they will be
			 removed.
			<li>Threads created for the express purpose of posting sexual/lewd
			 content will be removed. This does not include threads created for the
			 discussion of sexual content, provided the thread stays away from
			 explicit material in both image and text.
			<li>If a person requests that no lewd content be present in their thread,
			 any files and posts which include such content will be removed. This can
			 be requested by including a [#No Lewd] tag in the OP.
			<li>Depictions of explicit dismemberment, torture, or butchery are
			 prohibited.
		</ul>
		<p>The above set of rules against R34 and gore do not apply to
		 properly tagged mature content threads on supporting boards. Non-MLP
		 mature-tagged content may be removed at moderator discretion. See the
		 Site Usage section for information on using this feature.
		<p>Pornography and sexual images depicting minors (including drawings) are
		 not allowed anywhere on the site.

		<h3>Board-specific Rules</h3>
		<h4>/pony/</h4>
		<p>All threads on this board are to be related to ponies, the show, or the
		 official media in some way.
		<h4>/rp/</h4>
		<p>No erotic roleplay.
		<p>Threads and canons are allowed to create their own thread rules.
		<h4>/pic/</h4>
		<p>All threads should be MLP-related.
		<p>Look for similar pre-existing threads before creating new ones.
		<h4>/fan/</h4>
		<p>Please post only fan-created works on this board. Official show content
		 should be posted on /pony/. Official show merchandise may be posted and
		 discussed here.

		<h3>Image or board only bans</h3>
		<p>In the case where site staff is not 100% sure on a judgement or there is
		 disagreement between the staff, rule breaks may incur bans that prevent
		 posting on specific boards, posting images, or a combination of the two.

		<p>If you encounter a problem with the actions of the site staff, or on the site in general, please do not hesitate to contact us directly using the information below.

	</div>

	<div class="homeblock" id="staffstandards">
		<h2>Site Staff Standards</h2>
		<p>Moderators will always seek to understand a situation fully before issuing any ban.
		<p>Moderators are required to be in communication with their fellow staff members and will always seek a second opinion when unsure of an action.
		<p>Any moderator that acts outside of the established rules to deal with disruptive behavior will consult with other members of staff, and a mod post will be made explaining why action was taken. These actions will be reviewed with the admins, the rules amended, and changes announced if necessary.
		<p>Bans that range from one second to one hour are considered warning bans, meant to discourage certain behavior and give an explicit warning that users are unable to ignore when rules or the spirit of said rules are being broke.
		<p>Bans that are longer than an hour are meant to block bad behavior from the site. These can be appealed if the user demonstrates they are aware of why they are banned. Bans can be re-applied or extended if behavior is not adjusted after the ban or during the appeal process.
		<p>Bans can be appealed and will be reviewed by members of the staff. In the event there's any confusion or concern over an appeal then more than one moderator will review it before a decision is made.
	</div>

	<div class="homeblock" id="usage">
		<h2>Site Usage</h2>
 <p>
There is no signup; you can enter any name you like (or no name, bearing in mind it can sometimes be confusing to chat with Anonymous, Anonymous and Anonymous rather than Alice, Carol and Bob).
 <p>
You may use a tripcode like Bob#putasecretpasswordhere to consistently identify yourself as that Bob!wVf.9l8o4E — this works on most similar *chan imageboards. Programs like Tripcode Explorer and MTY are available to search for tripcodes which form attractive patterns or words.
 <p>
This site has several features that other *chan sites often require separate userscripts for, like a Quick Reply dialog for posting and auto-updating threads. You can configure the site with the settings button at the top-right corner of the page. Different themes are also available for you to use to view the site. For more info on the site's features and options, check out <a href="/site/res/3063.html">&gt;&gt;&gt;/site/3063</a>.
 <p>
The site employs a tagging system for adult content threads on the /chat/ board. By default, all tagged mature content is hidden from view. You will not see it unless you choose to unhide it through your "Settings" link in the upper right corner of the page. To post a thread for such content, on the above mentioned boards you will find a checkbox for it. Checking this and posting your thread as normal will automatically hide it from those who do not wish to see it. This tag covers mature themed content appropriate for the specific board, but does not include any underage depictions (ponies included), real actual depictions of hard gore, content deemed extreme, or non-pony related content. At the staff's discretion they will prune such material. Deliberately posting content that would be covered by the tag without using it may result in bans.
	</div>

	<div class="homeblock" id="staff">
		<h2>Staff</h2>
		<div>
			<div>
				<a href="mailto:astra@ponychan.net" class="trip">!!Celestia</a> ## Admin - Astra Bolt</div>
			<div>
				<a href="mailto:luna@ponychan.net" class="trip">!!Luna</a> ## Admin - Macil!/5s/Techmk</div>
			<div>
				<span class="trip">!!Lyra</span> ## Mod - Admiral Yang</div>
			<div>
				<span class="trip">!!Zecora</span> ## Mod - Mellowbloom!bloom.WArE</div>
			<div>
				<a href="mailto:shining@ponychan.net" class="trip">!!Shining Armor</a> ## Mod - Fenolio!X.Layton0s</div>
			<div>
				<span class="trip">!!Pinkie Pie</span> ## Mod - Nimble Wing!SonicFbkn.</div>
			<div>
				<span class="trip">!!Fluttershy</span> ## Mod - TPWPF</div>
			<div>
				<a href="mailto:ticket@ponychan.net" class="trip">!!Ticket</a> ## Mod - F!FFFFFF8t0o</div>
			<div>
				<span class="trip">!!Spike</span> ## Mod - Marimo!Mrb.TaRPks</div>
		</div>
	</div>

{% endblock %}
