{% extends "generic_page.html" %}

{% block title %}Ponychan{% endblock %}

{% block extra_body_classes %}homepage{% endblock %}

{% block banner %}{% endblock %}

{% block header %}
	<header>
		<h1>Ponychan</h1>
		<div class="subtitle">
			{{ settings.subtitle }}
		</div>
	</header>
{% endblock %}

{% block main_body %}
	<hr />

	<div class="homeblock mainhomeblock">
		<p>Welcome to Ponychan.net! This is an imageboard for older fans of
		the show <em>“My Little Pony: Friendship is Magic”</em>. <sup><a href="http://www.hotdiggedydemon.com/post/16367923346/why-adult-men-like-my-little-pony-friendship-is-magic">[What?]</a></sup>
	</div>

	{% if news|count > 0 %}
	<div class="homeblock">
		{% for entry in news %}
		<div class="newsitem" id="news_{{ entry.id }}">
			<h2>
				{% if entry.subject %}
					{{ entry.subject }}
				{% else %}
					<em>no subject</em>
				{% endif %}
				<span class="unimportant"> &mdash; by {{ entry.name }} at <time datetime="{{ entry.time|date('%Y-%m-%dT%H:%M:%S') }}{{ timezone() }}">{{ entry.time|date(config.post_date) }}</time></span>
			</h2>
			<div class="newscontent">{{ entry.body }}</div>
		</div>
		{% endfor %}
	</div>
	{% endif %}

	<div class="homeblock" id="boards">
		<h2>Boards</h2>
		{% for category, boards in categories %}
			<h3>{{ category }}</h3>
			<ul>
			{% for board in boards %}
				<li><a href="{{ board.uri }}">/{{ board.shortname|e }}/ - {{ board.title|e }}</a> — {{ board.subtitle|e }}</li>
			{% endfor %}
			</ul>
		{% endfor %}
	</div>

	{% if recent_posts|count > 0 %}
	<div class="homeblock" id="recent_posts">
		<h2>Recent Posts</h2>
		<div class="recent_posts_parent">
		{% for post in recent_posts %}
		<div class="recent_post">
			<a href="{{ post.link }}">
				<img src="{{ post.thumb_uri }}" style="width:{{ post.thumbwidth }}px;height:{{ post.thumbheight }}px" alt="">
			</a>
			<div class="boardname"><a href="{{ post.boardlink }}">/{{ post.board }}/</a></div>
			{{ post.snippet }}
		</div>
		{% endfor %}
		</div>
	</div>
	{% endif %}

	<div class="homeblock" id="rules">
		<h2>Rules</h2>
		<h3>Sitewide</h3>
		<p>Threats and flaming are not allowed.
		<ul>
			<li>Disruptive behaviors that prevent others from engaging in a
			 thread are prohibited.
			<li>Stalking, harassment, or posting of others' personal information
			 are prohibited.
		</ul>
		<p>In general, R34 and gore are not allowed:
		<ul>
			<li>Depictions of sex acts, genitals, female nipples, sex fluids, and
			 underage sexualization are prohibited.
			<li>Depictions of explicit dismemberment, torture, or butchery are
			 prohibited.
		</ul>
		<p>The above set of rules against R34 and gore do not apply to
		 properly tagged mature content threads on supporting boards. See the
		 FAQ for info on this feature.
		<p>Accessing this site means you are responsible for the content of
		 your posts, images, and the consequences of them.
		<p>Spamming, raiding, ban evasion, and participating in or advocating
		 for any illegal activities is prohibited.
		<p>The staff reserves the right to enforce these and all other rules
		 and guidelines in the manner they see best for the site.
		<p>The opinions and statements of staff members not posted under
		 their moderator tags are not official representations of the site,
		 its policies, guidelines or principles.
		<p>Do not look for loopholes or try to argue technicalities in these
		 guidelines. Follow their spirit as well as their letter.
	</div>

	<div class="homeblock" id="faq">
		<h2>FAQ</h2>
 <p>
There is no signup; you can enter any name you like (or no name, bearing in mind it can sometimes be confusing to chat with Anonymous, Anonymous and Anonymous rather than Alice, Carol and Bob).
 <p>
You may use a tripcode like Bob#putasecretpasswordhere to consistently identify yourself as that Bob!wVf.9l8o4E — this works on most similar *chan imageboards. Programs like Tripcode Explorer and MTY are available to search for tripcodes which form attractive patterns or words.
 <p>
This site has several features that other *chan sites often require separate userscripts for, like a Quick Reply dialog for posting and auto-updating threads. You can configure the site with the settings button at the top-right corner of the page. Different themes are also available for you to use to view the site. <!--For more info on the site's features and options, check out <a href="/site/res/9999.html">&gt;&gt;&gt;/site/9999</a>. -->
 <p>
The site employs a tagging system for adult content threads on the following boards: /anon/, /pic/, /fic/, /art/. By default, all tagged mature content is hidden from view. You will not see it unless you choose to unhide it through your "Settings" link in the upper right corner of the page. To post a thread for such content, on the above mentioned boards you will find a checkbox for it. Checking this and posting your thread as normal will automatically hide it from those who do not wish to see it. This tag covers mature themed content appropriate for the specific board, but does not include any underage depictions (ponies included), real actual depictions of hard gore, content deemed extreme, or non-pony related content. At the staff's discretion they will prune such material. Deliberately posting content that would be covered by the tag without using it may result in bans.
	</div>

	<div class="homeblock" id="staff">
		<h2>Staff</h2>
		<div>
			<h3>Administrators</h3>
			<div>
				<span class="trip">!!Shining Armor</span> ## Admin - Fenolio!X.Layton0s - Community Administrator</div>
			<div>
				<span class="trip">!!Luna</span> ## Admin - Macil!/5s/Techmk - Technical Administrator</div>
		</div>
		<div>
			<h3>Moderators</h3>
			<div>
				<span class="trip">!!Twilight Sparkle</span> ## Mod - Astra Bolt</div>
			<div>
				<span class="trip">!!Lyra</span> ## Mod - Admiral Yang</div>
			<div>
				<span class="trip">!!Rarity</span> ## Mod - Crimson Risk !RISkQqf4EM</div>
			<div>
				<span class="trip">!!Gilda</span> ## Mod - Ghosties</div>
			<div>
				<span class="trip">!!Zecora</span> ## Mod - Mellowbloom!bloom.WArE</div>
			<div>
				<span class="trip">!!Pinkie Pie</span> ## Mod - Nimble Wing!SonicFbkn.</div>
			<div>
				<span class="trip">!!Rainbow Dash</span> ## Mod - Rainbro !Dash/xVjEY</div>
			<div>
				<span class="trip">!!Fluttershy</span> ## Mod - TPWPF</div>
			<div>
				<span class="trip">!!Sweetie Bot</span> ## Developer - Zeke</div>
		</div>
	</div>

{% endblock %}
