body {
	background: #EEF2FF url('img/fade-blue.png') repeat-x 50% 0%;
	color: black;
	font-family: arial, helvetica, sans-serif;
	font-size: 10pt;
	margin: 0 8px;
	padding-left: 5px;
	padding-right: 5px;
}
table * {
	margin: 0;
}
a, a:visited {
	text-decoration: underline;
	color: #34345C;
}
a:hover, p.intro a.post_no:hover {
	color: #ff0000;
}
a.post_no {
	text-decoration: none;
	margin: 0;
	padding: 0;
}
p.intro a.post_no {
	color: inherit;
}
p.intro a.email span.name {
	color: #34345C;
}
p.intro a.email:hover span.name {
	color: #ff0000;
}
h2 {
	color: #AF0A0F;
	font-size: 18px;
}
h3 {
	font-size: 17px;
}
.homeblock h2 {
	margin: 0;
	padding: 0;
}
header {
	margin: 1em 0;
}
header h1, #settingsScreen h1 {
	font-family: tahoma;
	letter-spacing: -2px;
	font-size: 20pt;
	margin: 0;
}
header div.subtitle, header h1 {
	color: #AF0A0F;
	text-align: center;
}
header div.subtitle {
	font-size: 8pt;
}
form[name='post'] {
	margin-bottom: 2em;
}
form table {
	margin: auto;
}
form.userbanlist {
	text-align:center;
}
form.userbanlist table {
	width: 400px;
	margin-bottom: 10px;
	border-bottom: 1px solid #ddd;
	padding:5px
}
form table input {
	height: auto;
}
input[type="text"], input[type="password"], textarea {
	border: 1px solid #a9a9a9;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	word-spacing: normal;
}
form table tr td {
	text-align: left;
	margin: 0;
	padding: 0;
}
form[name="post"] input[name="submit"] {
	margin-left: 2px;
}
table.banlist tr td {
	padding: 2px;
}
form table tr th {
	text-align: left;
	padding: 4px;
	background: #98E;
}
.unimportant, .unimportant * {
	font-size: 10px;
}
.fileinfo {
	font-size: 12px;
	margin: 0;
	padding-right: 7em;
}
div.banner {
	background-color: #E04000;
	font-size: 12pt;
	font-weight: bold;
	text-align: center;
	margin: 1em 0;
}
div.banner, div.banner a {
	color: white;
}
div.banner a:hover {
	color: #EEF2FF;
	text-decoration: none;
}
img.banner {
	display: block;
	border: 1px solid #a9a9a9;
	margin: 12px auto 0 auto;
	max-width: 95%;
}
img.postimg {
	display: block;
	float: left;
	margin: 5px 20px 0 0;
	padding: 5px;
	border: none;
}
div.post img.icon {
	margin: 0 5px;
}
img.loading {
	opacity: 0.4;
	filter: alpha(opacity=40);
}
img.expanded {
	width: auto !important;
	height: auto !important;
	max-width: 95%;
	max-height: 95%;
}
.opMain {
	margin-right: 20px;
	margin-bottom: 5px;
}
.thread hr {
	border-color: #D9BFB7;
}
p.intro {
	margin: 0.5em 0;
	padding: 0;
	padding-bottom: 0.2em;
}
input.delete {
	float: left;
	margin: 1px 6px 0 0;
}
p.intro span.subject {
	color: #0F0C5D;
	font-weight: bold;
	font-size: 125%;
}
p.intro span.name {
	color: #117743;
	font-weight: bold;
}
p.intro span.capcode, p.intro a.capcode, p.intro a.nametag {
	color: #F00000;
	margin-left: 0;
}
p.intro .mentioned a {
	margin-left: 2px;
}
.threadviewlink {
	margin-left: 8px;
}
div.delete {
	float: right;
}
.body {
	margin-left: 1.5em;
}
div.post.reply .body {
	margin-left: 1.8em;
	margin-right: 0;
	margin-top: 0.8em;
	margin-bottom: 0;
	padding-right: 3em;
	padding-bottom: 0.3em;
}
div.post.reply.highlighted {
	background: #D6BAD0;
}
a.postlink {
	word-wrap: normal;
	white-space: nowrap;
}
a.bodylink {
	color: #D00;
}
div.post {
	max-width: 97%;
}
div.post .body {
	word-wrap: break-word;
	white-space: pre-wrap;
}
div.post.reply {
	background: #D6DAF0;
	margin: 2px 16px 2px 20px;
	padding: 0.2em 0.3em 0.5em 0.6em;
	border-width: 1px;
	border-style: none solid solid none;
	border-color: #B7C5D9;
	display: inline-block;
}
span.trip {
	color: #228854;
}
span.quote {
	color: #789922;
}
span.omitted {
	display: block;
	margin-top: 1em;
}
br.clear {
	clear: left;
	display: block;
}
span.controls {
	float: right;
	margin: 0;
	padding: 0;
	font-size: 80%;
}
span.controls.op {
	float: none;
	margin-left: 10px;
}
span.controls a {
	margin: 0;
}
div#wrap {
	width: 900px;
	margin:0 auto;
}
div.ban {
	background: white;
	border: 1px solid #98E;
	max-width: 700px;
	margin: 30px auto;
	overflow: auto;
}
div.ban p, div.ban h2 {
	padding: 3px 7px;
}
div.ban h2 {
	background: #98E;
	color: black;
	font-size: 12pt;
	margin: 0;
}
div.ban p {
	font-size: 12px;
	margin-bottom: 12px;
}
div.ban p.reason {
	font-weight: bold;
}
span.heading {
	color: #AF0A0F;
	font-size: 11pt;
	font-weight: bold;
}
.spoiler {
	background: black;
	color: black;
	padding: 0px 1px;
}
div.post .body .spoiler a {
	color: black;
}
.spoiler:hover, div.post .body .spoiler:hover a, .spoiler-force-color {
	color: white !important;
}
.hidetogglebutton {
	width: 4em;
}
.hidetext {
	border-style: solid;
	border-width: 1px;
	border-color: #ccc;
	padding: 5px;
	background: #ddd;
	clear: both;
	margin: 5px;
}
.hidetext.off {
	height: 0;
	padding: 0;
	overflow: hidden;
}
.comicsans {
	font-family: comic sans, comic sans ms;
}
div.styles {
	float: right;
	padding-bottom: 20px;
}
div.styles a {
	margin: 0 10px;
}
div.styles a.selected {
	text-decoration: none;
}
table.test {
	width: 100%;
}
table.test td, table.test th {
	text-align: left;
	padding: 5px;
}
table.test tr.h th {
	background: #98E;
}
table.test td img {
	margin: 0;
}
fieldset label {
	display: block;
}
div.pages {
	color: #89A;
	background: #D6DAF0;
	display: inline;
	padding: 8px;
	border-right: 1px solid #B7C5D9;
	border-bottom: 1px solid #B7C5D9;
}
div.pages a.selected {
	color: black;
	font-weight: bolder;
}
div.pages a {
	text-decoration: none;
}
div.pages form {
	margin: 0;
	padding: 0;
	display: inline;
}
div.pages form input {
	margin: 0 5px;
	display: inline;
}
hr {
	border: none;
	border-top: 1px solid #B7C5D9;
	height: 0;
	clear: left;
}
.boardlist {
	color: #89A;
	font-size: 9pt;
	margin-top: 3px;
}
.boardlist.bottom {
	margin-top: 20px;
}
.boardlist a {
	text-decoration: none;
}
div.report {
	color: #333;
}
table.modlog {
	margin: auto;
	width: 100%;
}
table.modlog tr td {
	text-align: left;
	margin: 0;
	padding: 4px 15px 0 0;
}
table.modlog tr th {
	text-align: left;
	padding: 4px 15px 5px 5px;
	white-space: nowrap;
	background: #98E;
}
td.minimal, th.minimal {
	width: 1%;
	white-space: nowrap;
}
div.top_notice {
	text-align: center;
	margin: 48px auto 1em;
}
.public_ban {
	display: block;
	color: red;
	font-weight: bold;
	margin-top: 15px;
}
.toolong {
	display: block;
	margin-top: 15px;
}
div.blotter {
	color: red;
	font-weight: bold;
	text-align: center;
}
table.mod.config-editor {
	font-size: 9pt;
	width: 100%;
}
table.mod.config-editor td {
	text-align: left;
	padding: 5px;
	border-bottom: 1px solid #98e;
}
table.mod.config-editor input[type="text"] {
	width: 98%;
}
.homepage header h1 {
	font-size: 40pt;
	text-shadow: 0 0 0.25em rgb(136,136,136);
}
.homepage header .subtitle {
	font-size: 16pt;
}
.homeblock {
	margin: 1em auto;
	font-size: 110%;
	width: 75%;
	min-width: 300px;
	border: 1px solid rgb(160,160,160);
	padding: 1em;
	border-radius: 3px;
	-moz-border-radius: 3px;
}
.mainhomeblock {
	font-size: 130%;
}
.mainhomeblock sup {
	font-size: 0.6em;
}
.hashtag {
	display: inline-block;
	background: #232b2b;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQzNDc1ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ5JSIgc3RvcC1jb2xvcj0iIzIzMmIyYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxYzFjMWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #43475e 0%, #232b2b 49%, #1c1c1c 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#43475e), color-stop(49%,#232b2b), color-stop(100%,#1c1c1c));
	background: -webkit-linear-gradient(top,  #43475e 0%,#232b2b 49%,#1c1c1c 100%);
	background: -o-linear-gradient(top,  #43475e 0%,#232b2b 49%,#1c1c1c 100%);
	background: -ms-linear-gradient(top,  #43475e 0%,#232b2b 49%,#1c1c1c 100%);
	background: linear-gradient(top,  #43475e 0%,#232b2b 49%,#1c1c1c 100%);
	margin-right: 0.5em;
	padding: 0.2em 0.5em;
	border-width: 1px;
	border-style: none solid solid none;
	border-color: #111;
	box-shadow: 1px 1px 3px #555;
	-o-box-shadow: 1px 1px 3px #555;
	-moz-box-shadow: 1px 1px 3px #555;
	-webkit-box-shadow: 1px 1px 3px #555;
	color: #edc;
}
.moonlink {
	font-size: 130% !important;
	text-align: center;
}
.editmsg {
	font-style: italic;
	font-size: 75%;
	margin-top: 1em;
}
.diceroll {
	font-weight: bold;
}
.diceroll:before {
	content: url(img/dice.png);
}
/* Navbar stuff */
.boardlist.top {
	margin: 0 -13px;
	box-shadow: 0 -1px 8px black;
	background: #222;

	position: fixed;
	top: 0;
	left: 13px;
	width: 100%;
	
	z-index: 5;
}
.boardlist.top + * { margin-top: 48px; }
.boardlist.top .boardlistpart {
	font-size: 0;
	visibility: hidden;
	padding-left: 6px;
	float: left;
}
.boardlist.top .boardlistpart a, .boardlist.top .boardlistpart a:visited {
	display: inline-block;
	color: #ddd;
	padding: 6px 3px;
	margin: 0 1px;
	font-size: 16px;
	visibility: visible;
}
.boardlist .modboardlistpart a, .boardlist .modboardlistpart a:visited {
	opacity: 0.65;
}
.boardlist.top .boardlistpart a[href="/"] {
	font-weight: bold;
	color: #183;
	padding: 6px;
}
.boardlist.top .boardlistpart a:hover { background: #444; }
.boardlist.top .boardlistpart a.boardlistactive {
	padding-top: 3px;
	border-top: 3px solid #777;
	background: #404040;
}
.boardlist.top .boardlistpart a:before { content: "/"; }
.boardlist.top .boardlistpart a:after  { content: "/"; }
.boardlist.top .boardlistpart a[href="/"]:before { content: ""; }
.boardlist.top .boardlistpart a[href="/"]:after  { content: ""; }

.boardlist.top .settingsSection.boardlistpart a:before { content: ""; }
.boardlist.top .settingsSection.boardlistpart a:after  { content: ""; }
.boardlist.top .settingsSection {
	float: right;
}
.boardlist.top .settingsSection a {
	font-weight: bold;
	padding: 6px;
	margin: 0 5px;
}
.setting_more_details {
	font-size: 10pt;
	margin-left: 2.7em;
}
.post-hover {
	margin-left: 16px !important;
	position: absolute !important;
	display: block !important;
	z-index: 10;
}
.post-inline {
	margin: 2px !important;
}
.post-hover, .post-inline {
	border-style: solid !important;
	box-shadow: 1px 1px 1px #999 !important;
}
.preview-hidden {
	display: none !important;
}
.inlined {
	opacity: 0.5;
}
.parent-link {
	text-decoration: none !important;
	border-bottom: 1px dashed !important;
}
#settings-overlay {
	background-color: black;
	opacity: 0.5;
	z-index: 19;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: none;
}
#settingsScreen label {
	cursor: pointer;
}
#settingsScreen h1 a {
	float: right;
	margin: 0 11px 2px 2px;
	text-decoration: none;
}
#settingsScreen {
	z-index: 20;
	color: black;
	border: 1px solid black;
	width: 400px;
	overflow-y: auto;
	max-height: 95%;
	max-width: 95%;
	background-color: #e2e2e2;
	position: fixed;
	top: 2.5%;
	right: 2.5%;
	display: none;
}
/* qr */
#qrtoggleoptions {
 	text-align: center;
}
#qrDisplayButtonDiv {
	margin-bottom: 1.5em;
}
#qrDisplayButton {
	color: red;
	font-size: 150%;
}
#qr * {
	margin: 0;
	padding: 0;
}
#qr label {
	cursor: pointer;
	margin: 0 2px 0 1px;
	color: black;
}
#qrmove {
	min-width: 100%;
	height: 22px;
	background-color: black;
	cursor: move;
}
#qr {
	border-radius: 3px;
	padding: 1px;
	background-color: #e2e2e2;
	border: 1px solid black;
	z-index: 6;
	font-family: Arial, Verdana, sans-serif;
	font-size: 12px;
	min-width: 300px;
	position: fixed;
}
#qr input[type='text'], #qr textarea {
	min-width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	display: block;
}
#qr textarea {
	padding: 3px;
	font-family: Arial;
	font-size: 13px;
	min-height: 110px;
}
#qr input[type='text'] {
	padding: 2px;
	min-height: 26px;
}

#qrfile {
	width: 70%;
}
#qr.noQueuing #qrfilebutton {
	display: none;
}
#qr.noQueuing #qrsubmit {
	width: 30%;
}

#qr.queuing #qrfile {
	display: none;
}
#qrfilebutton {
	width: 30%;
}
#qr.queuing #qrsubmit {
	width: 30%;
	float: right;
}

#qr input[type='checkbox'] {
	position: relative;
	top: 2px;
	margin-right: 2px;
}
#qrimageswrapper {
	overflow-x: scroll;
	overflow-y: hidden;
	background-color: darkGray;
	position: relative;
	min-height: 87px;
	display: none;
}
#qrimages { 
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	white-space: pre;
	counter-reset: thumbnails;
}
#qrmove a {
	color: white;
	cursor: pointer;
	margin: 2px 3px 0 0;
	float: right;
	font-weight: bold;
	text-decoration: none;
	font-size: 15px;
}
#qrmove a:hover {
	color: #b0b0b0;
}
.qrthumb {
	border: 1px solid black;
	-webkit-transition: opacity .15s ease-in-out;
	-moz-transition: opacity .15s ease-in-out;
	transition: opacity .15s ease-in-out;
	-o-transition: opacity .15s ease-in-out;
	opacity: .6;
	width: 68px;
	height: 68px;
	background-size: cover;
	cursor: pointer;
	display: inline-block;
	background-color: #cfcfcf;
}
.qrthumb::before {
	counter-increment: thumbnails;
	content: counter(thumbnails);
	color: #FFF;
	font-weight: 700;
	padding: 3px;
	top: 0;
	left: 0;
	text-shadow: 0 0 3px #000, 0 0 8px #000;
	float: left;
}
.qrthumb:hover {
	opacity: 1;
}
#qrthumbselected {
	opacity: 1;
	border: 1px solid white;
}
#qrwarning {
	color: red;
}
.qrremovethumb:hover {
	color: white;
	
}
#qraddimage:hover {
	color: white;
}
#qraddimage {
	color: black;
    display: inline-block;
    width: 68px;
    height: 68px;
    text-align: center;
    font-size: 50px;
    line-height: 69px;
    vertical-align: top;
    text-decoration: none;
}
.qrremovethumb {
    font-size: 12px;
    float: right;
    font-weight: bold;
    text-decoration: none;
    background-color: black;
    color: white;
    border: 1px solid black;
    padding: 0 3px 1px 3px !important;
    border-radius: 2px;
}
/* end qr */
.postHider {
	font-size: 13px;
}
.reply .postHider {
	position: absolute;
	margin-left: -34px;
}
/* for OP posts without a file */
.intro .postHider {
	float: left;
	margin-left: -5px;
	margin-right: 4px;
}
.postHider a {
	text-decoration: none;
}
.post-inline .postHider, .post-hover .postHider {
	display: none;
}
.zam_rating_critical {
	color: red;
	font-weight: bold;
}
.popnotice {
	cursor: default;
	box-shadow: 0 -1px 8px black;
	background-color: rgb(34, 34, 34);
	color: rgb(221, 221, 221);
	position: fixed;
	top: 30px;
	right: 0;
	margin: 10px;
	padding: 5px;
}
.boardlist.top .watcherButton.open {
	background: #404040;
}
#watcherAlerts {
	color: red;
	margin-right: 0.3em;
}
#watcherScreen {
	margin: 15px;
	padding: 0;
	border: 1px solid black;
	box-shadow: 0px -1px 8px black;
	border-radius: 3px;
	background: #303030;
	right: 0;
	color: white;
	width: 40em;
	font-size: 11pt;
	max-height: 80%;
	max-width: 95%;
	overflow: auto;
}
.wthread {
	padding: 5px;
	border-bottom: 1px solid black;
}
.wthread:last-of-type {
	border-bottom: none;
}
.wlinkpart a, .wlinkpart a:visited {
	color: rgb(100, 100, 230);
	text-decoration: none;
}
.wlinkpart a:hover {
	color: rgb(80, 80, 200);
}
.wtrip {
	color: #ccc;
}
.wpostcounter {
	margin-left: 0.7em;
}
.wnewposts {
	color: rgb(255,0,0);
}
.wcounterror {
	color: rgb(200,0,0);
}
.wremove, .wremove:visited {
	color: rgb(160,0,0);
	text-decoration: none;
	float: right;
}
.wremove:hover {
	color: rgb(230,0,0);
}
.wdetails {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;

	padding-left: 0.5em;
	color: #aaa;
}
.wsubject {
	color: white;
}
.postfooter {
	font-size: 90%;
	text-align: right;
}
.postfooter a {
	text-decoration: none;
}
.ban-hidden {
	display: none !important;
}
.newscontent {
	margin: 0.5em;
}
#recent_posts {
	white-space: nowrap;
	overflow-x: hidden;
}
.donatebitcoin {
	font-size: 0.8em;
}
.donatebitcoin a, .donatebitcoin a:visited {
	text-decoration: none;
}
.recent_post {
	display: inline-block;
	text-align: center;
	padding: 5px;
	width: 200px;
	vertical-align: middle;
	white-space: normal;
	word-wrap: break-word;
}
table.boarddir {
	border: none;
}
table.boarddir td {
	padding: 2px 5px;
}

/* catalog stuff */
.catalink {
	display: block;
}
.catalog {
	text-align: center;
}
.catacount {
	font-size: 0.9em;
}
.catasubject {
	font-weight: bold;
}
img.catalogthumb {
	margin: auto;
	margin-bottom: 9px;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.55);
	border: 2px solid rgba(153, 153, 153, 0);
}
.catalink img:hover {
	border: 2px solid rgba(153, 153, 153, 0.27);
}
.catathread {
	display: inline-block;
	vertical-align: top;
	margin: 5px 10px 10px;
	text-align:center;
	width: 165px;
	overflow: hidden;
	font-size: 11px;
	padding: 5px;
	background: rgba(182, 182, 182, 0.12);
	border: 2px solid rgba(111, 111, 111, 0.34);
	max-height:275px;
}

/* mobile stuff */
@media screen and (max-width: 480px) {
	body {
		margin: 0;
		padding: 0;
	}
	div.post.reply, div.post {
		display: block;
		margin-left: 2px;
		margin-right: 2px;
		overflow: auto;
	}
	form[name="post"] input[type="text"], form[name="post"] textarea {
		width: 220px;
	}
	.endlinks {
		clear: right;
	}
	.boardlist.top {
		position: absolute;
	}
	.reply .postHider {
		float: left;
		position: static;
		margin: 5px 4px 0 -3px;
	}
	.intro .postHider {
		margin-left: 0;
	}
	.postHider {
		display: inline;
	}
	.post-inline {
		clear: both;
	}
}
@media all and (max-width: 600px) {
	img.banner {
		height: auto !important;
	}
}
