/*
Wonderbolts.css
by Soarin'Wonder
soarinwonder@hotmail.com

Font: Yesteryear ~ http://www.fontspace.com/astigmatic-one-eye-typographic-institute/yesteryear
*/
@font-face {
	font-family: "Yesteryear";
	src: url("font/Yesteryear.ttf");
	src: url("font/Yesteryear.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
body {
	background: url("img/wonderbolts/wbs.png") no-repeat right bottom fixed, 
	url("img/wonderbolts/wbtgradient.png") repeat-x bottom fixed #29a0de;
	color: white;
	font-family: serif;
	font-size: 16px;
}
a, a:visited, a.bodylink {
	color: #f7fd77;
}
a:hover, p.intro a.post_no:hover {
	color: #5EDCFF;
}
a#qrDisplayButton {
	color: #f7fd77 !important;
}
p.intro a.email span.name {
	color: #f8fd77;
}
p.intro a.email:hover span.name {
	color: white;
}
header h1 {
	font-family: "Yesteryear", tahoma;
	font-size: 38pt;
}
header div.subtitle, header h1 {
	color: #f8fd77;
	font-size: 10pt;
}
textarea#body, textarea#qrbody {
	background: url("img/wonderbolts/wblogo.png") center no-repeat white;
}
form table tr th {
	border: 1px yellow solid;
	background: #0179c6;
}
form table tr td div {
	text-align: left;
}
div.banner {
	background-color: rgb(248, 253, 119);
}
div.banner, div.banner a {
	color: black;
}
div.banner a:hover {
	color: #322;
}
p.intro span.name {
	color: #d6fcff;
}
.reply p.intro span.name {
	color: #c6ecff;
}
div.post.reply.highlighted {
	background: url("img/wonderbolts/wbhlgradient.png") bottom repeat-x #00b9d5;
}
div.post.reply {
	background: #0179c6;
	border-width: 2px;
	border-style: solid;
	border-color: rgb(220, 220, 120);
}
span.trip, span.quote {
	color: #ffd155;
}
span.heading {
	color: black;
}
div.pages {
	color: #004ed0;
	background: none;
	border-right: 1px none yellow;
	border-bottom: 1px none yellow;
}
div.boardlist {
	color: #004ed0;
}
div.blotter {
	color: blue;
}
.homeblock {
	border-color: rgba(120, 120, 120, 0.3);
	background-color: rgba(100, 100, 180, 0.3);
}
footer {
	color: rgb(80, 80, 128);
}
div.ban {
	background: white;
	color: black;
}
div.ban a, div.ban a:visited {
	text-decoration: underline;
	color: #34345C;
}
div.ban a:hover {
	color: #ff0000;
}
.hidetext {
	background-color: #3189c6;
}
