<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" media="screen" href="{{ config.url_stylesheet }}?v={{ 'stylesheets/style.css'|filemtime }}">
	{% if config.url_favicon %}<link rel="shortcut icon" href="{{ config.url_favicon }}">{% endif %}
	<title>MLPchan</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
	{% if config.meta_keywords %}<meta name="keywords" content="{{ config.meta_keywords }}">{% endif %}
	{% if config.default_stylesheet.1 != '' %}<link rel="stylesheet" type="text/css" id="stylesheet" href="{{ config.uri_stylesheets }}{{ config.default_stylesheet.1 }}?v={{ ('stylesheets/' ~ config.default_stylesheet.1)|filemtime }}">{% endif %}
	{% if not nojavascript %}
		<script type="text/javascript" src="{{ config.url_javascript }}?v={{ config.file_script|filemtime }}"></script>
		{% if not config.additional_javascript_compile %}
		{% for javascript in config.additional_javascript %}<script type="text/javascript" src="{{ config.additional_javascript_url }}{{ javascript }}?v={{ javascript|filemtime }}"></script>{% endfor %}
		{% endif %}
	{% endif %}
</head>
<body class="boardpage homepage">
	{{ boardlist.top }}
	{% if pm %}<div class="top_notice">You have <a href="?/PM/{{ pm.id }}">an unread PM</a>{% if pm.waiting > 0 %}, plus {{ pm.waiting }} more waiting{% endif %}.</div><hr />{% endif %}
	{% if config.url_banner %}<img class="banner" src="{{ config.url_banner }}" {% if config.banner_width or config.banner_height %}style="{% if config.banner_width %}width:{{ config.banner_width }}px{% endif %};{% if config.banner_width %}height:{{ config.banner_height }}px{% endif %}" {% endif %}alt="" />{% endif %}
	<header>
		<h1>MLPchan</h1>
		<div class="subtitle">
			Friendship is Magic!
		</div>
	</header>
	
	<hr />

	<div class="homeblock mainhomeblock">
	  <p>Welcome to MLPchan.net! This is an imageboard for older fans of
	  the show <em>“My Little Pony: Friendship is Magic”</em>. <sup><a href="http://www.hotdiggedydemon.com/post/16367923346/why-adult-men-like-my-little-pony-friendship-is-magic">[What?]</a></sup>
	</div>

	<div class="homeblock" id="boards">
	  <h2>Boards</h2>
	  {% for category in config.categories|keys %}
	    <h3>{{ category }}</h3>
	    <ul>
	    {% for board in config.categories[category]|keys %}
	      {% if 1 in config.categories[category][board]|keys %}
	        {% set uri = board %}
              {% else %}
	        {% set uri = config.categories[category][board] %}
              {% endif %}
              <li><a href="{{ uri }}/">{{ uri }} - {{ boards[uri].title }}</a> — {{ boards[uri].subtitle }}</li>
	    {% endfor %}
	    </ul>
	  {% endfor %}
	</div>

	<div class="homeblock" id="rules">
	  <h2>Rules</h2>
	  <h3>Sitewide</h3>
	  <p>Threats and flaming are not allowed.
	  <ul>
	    <li>Disruptive behaviors that prevent others from engaging in a
	    thread are prohibited.
	    <li>Stalking, harrassment, or posting of others personal information
	    are prohibited.
	  </ul>
	  <p>In general, R34 and gore are not allowed:
	  <ul>
	    <li>Depictions of sex acts, genitals, female nipples, sex fluids, and underage sexualization are prohibited.
	    <li>Depictions of explicit dismemberment, torture, or butchery are
	    prohibited.
	  </ul>
	  <p>The above set of rules against R34 and gore do not apply to
	  properly tagged mature content threads on supporting boards. See the
	  FAQ for info on this feature.
	  <p>Accessing this site means you are responsible for the content of
	  your posts, images, and the consequences of them.
	  <p>Spamming, raiding, ban evasion, and participating in or advocating
	  for any illegal activities is prohibited.
	  <p>The staff reserves the right to enforce these and all other rules
	  and guidelines in the manner they see best for the site.
	  <p>The opinions and statements of staff members not posted under
	  their moderator tags are not official representations of the site,
	  its policies, guidelines or principles.
	  <p>Do not look for loopholes or try to argue technicalities in these
	  guidelines. Follow their spirit as well as their letter.
	</div>

	<div class="homeblock" id="faq">
	  <h2>FAQ</h2>
 <p>
There is no signup; you can enter any name you like (or no name, bearing in mind it can sometimes be confusing to chat with Anonymous, Anonymous and Anonymous rather than Alice, Carol and Bob).
 <p>
You may use a tripcode like Bob#putasecretpasswordhere to consistently identify yourself as that Bob!wVf.9l8o4E — this works on most similar *chan sites. Programs like Tripcode Explorer and MTY are available to search for tripcodes which form attractive patterns or words.
 <p>
This site has several features that other *chan sites often require separate userscripts for, like a Quick Reply dialog for posting and auto-updating threads. You can configure the site with the settings button at the top-right corner of the page. Different themes are also available for you to use to view the site. For more info on the site's features and options, check out <a href="/site/res/616.html">&gt;&gt;&gt;/site/616</a>.
 <p>
The site employs a tagging system for adult content threads on the following boards: /anon/, /pic/, /fic/, /art/. By default, all tagged mature content is hidden from view. You will not see it unless you choose to unhide it through your "Settings" link in the upper right corner of the page. To post a thread for such content, on the above mentioned boards you will find a checkbox for it. Checking this and posting your thread as normal will automatically hide it from those who do not wish to see it. This tag covers mature themed content appropriate for the specific board, but does not include any underage depictions (ponies included), real actual depictions of hard gore, content deemed extreme, or non-pony related content. At the staff's discretion they will prune such material. Deliberately posting content that would be covered by the tag without using it may result in bans.
 <p>
Consider donating to help keep the site running! Everything goes toward site hosting costs.
 {% include 'donate.html' %}
	</div>

	<div class="homeblock" id="staff">
	  <h2>Staff</h2>
	  <div>
	    <h3>Administrator</h3>
	    <div><a class="email" href="mailto:applejack@mlpchan.net">
		<span class="trip">!!Applejack</span></a> ## Admin - Anonthony!EEEEEEEEc2</div>
	  </div>
	  <div>
	    <h3>Moderators</h3>
	    <div><a class="email" href="mailto:pinkiepie@mlpchan.net">
		<span class="trip">!!Pinkie Pie</span></a> ## Mod - Starshine!SprintMJXo</div>
	    <div><a class="email" href="mailto:twilightsparkle@mlpchan.net">
		<span class="trip">!!Twilight Sparkle</span></a> ## Mod - Cross Breeze!Q1IPegaSus</div>
	    <div><a class="email" href="mailto:littlepip@mlpchan.net">
		<span class="trip">!!Littlepip</span></a> ## Mod - Macil!/5s/Techmk</div>
	    <div><a class="email" href="mailto:trixie@mlpchan.net">
		<span class="trip">!!Trixie</span></a> ## Mod - Marceline!dxpBMarcyU</div>
	    <div><a class="email" href="mailto:rarity@mlpchan.net">
		<span class="trip">!!Rarity</span></a> ## Mod - Mellowbloom, el Gato de !/oat/bSI66</div>
	    <div><a class="email" href="mailto:fluttershy@mlpchan.net">
		<span class="trip">!!Fluttershy</span></a> ## Mod - Tom' the /♥/ bringer!tHOMASuvlQ</div>
	    <div><a class="email" href="mailto:spike@mlpchan.net">
		<span class="trip">!!Spike</span></a> ## Mod - Filler</div>
	    <div><a class="email" href="mailto:rainbowdash@mlpchan.net">
		<span class="trip">!!Rainbow Dash</span></a> ## Mod - Lawny!uIsTheSex6</div>
	    <div><a class="email" href="mailto:derpy@mlpchan.net">
		<span class="trip">!!Derpy</span></a> ## Mod - Derpymouz!TheMouZ8I6</div>
	  </div>
	  <div>
	    <h3>Contributors</h3>
	    <div title="!!Tiptoe">
	      milky<span class="trip">!miiiiilklE</span> - UI coding assistance</div>
	    <div>
	      Pegasi<span class="trip">!1mWO3ej9K6</span> - Site theme contributor</div>
	    <div>
	      Soarin'Wonder<span class="trip">!BOLT.olDi2</span> - Site theme contributor</div>
	  </div>
	</div>
	{{ boardlist.bottom }}
	<footer>
		<p class="unimportant" style="margin-top:20px;text-align:center;">Powered by <a href="http://tinyboard.org/">Tinyboard</a> {{ config.version }} | <a href="http://tinyboard.org/">Tinyboard</a> Copyright &copy; 2010-2012 Tinyboard Development Group</p>
		{% for footer in config.footer %}<p class="unimportant" style="text-align:center;">{{ footer }}</p>{% endfor %}
	</footer>
</body>
</html>
