<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" media="screen" href="{{ config.url_stylesheet }}">
	{% if config.url_favicon %}<link rel="shortcut icon" href="{{ config.url_favicon }}">{% endif %}
	<title>MLPchan</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
	{% if config.meta_keywords %}<meta name="keywords" content="{{ config.meta_keywords }}">{% endif %}
	{% if config.default_stylesheet.1 != '' %}<link rel="stylesheet" type="text/css" id="stylesheet" href="{{ config.uri_stylesheets }}{{ config.default_stylesheet.1 }}">{% endif %}
	{% if not nojavascript %}
		<script type="text/javascript" src="{{ config.url_javascript }}"></script>
		{% if not config.additional_javascript_compile %}
		{% for javascript in config.additional_javascript %}<script type="text/javascript" src="{{ config.additional_javascript_url }}{{ javascript }}"></script>{% endfor %}
		{% endif %}
	{% endif %}
</head>
<body class="boardpage homepage">
	{{ boardlist.top }}
	{% if pm %}<div class="top_notice">You have <a href="?/PM/{{ pm.id }}">an unread PM</a>{% if pm.waiting > 0 %}, plus {{ pm.waiting }} more waiting{% endif %}.</div><hr />{% endif %}
	{% if config.url_banner %}<img class="banner" src="{{ config.url_banner }}" {% if config.banner_width or config.banner_height %}style="{% if config.banner_width %}width:{{ config.banner_width }}px{% endif %};{% if config.banner_width %}height:{{ config.banner_height }}px{% endif %}" {% endif %}alt="" />{% endif %}
	<header>
		<h1>MLPchan</h1>
		<div class="subtitle">
			Friendship is Magic!
		</div>
	</header>
	
	<hr />

	<div class="homeblock mainhomeblock">
	  <p>Welcome to MLPchan.net! This is an imageboard for older fans of
	  the show <em>“My Little Pony: Friendship is Magic”</em>. <sup><a href="http://www.hotdiggedydemon.com/post/16367923346/why-adult-men-like-my-little-pony-friendship-is-magic">[What?]</a></sup>
	  <p><a href="/site/res/18.html">Read our introductory post!</a>
	</div>

	<div class="homeblock" id="boards">
	  <h2>Boards</h2>
	  {% for category in config.categories|keys %}
	    <h3>{{ category }}</h3>
	    <ul>
	    {% for board in config.categories[category]|keys %}
	      {% if 1 in config.categories[category][board]|keys %}
	        {% set uri = board %}
              {% else %}
	        {% set uri = config.categories[category][board] %}
              {% endif %}
              <li><a href="{{ uri }}/">{{ uri }} - {{ boards[uri].title }}</a> — {{ boards[uri].subtitle }}</li>
	    {% endfor %}
	    </ul>
	  {% endfor %}
	</div>

	<div class="homeblock" id="rules">
	  <h2>Rules</h2>
	  <h3>Sitewide</h3>
	  <p>Threats and flaming are not allowed.</p>
	  <ul>
	    <li>Disruptive behaviors that prevent others from engaging in a
	    thread are prohibited.</li>
	    <li>Stalking, harrassment, or posting of others personal information
	    are prohibited.</li>
	  </ul>
	  <p>R34 and gore are not allowed.</p>
	  <ul>
	    <li>Depictions of sex acts, genitals, sex fluids and underage sexualization are prohibited.</li>
	    <li>Depictions of explicit dismemberment, torture or butchery are
	    prohibited.</li>
	  </ul>
	  <p>Accessing this site means you are responsible for the content of
	  your posts, images, and the consequences of them.</p>
	  <p>Spamming, raiding, ban evasion, and participating in or advocating
	  for any illegal activities is prohibited.</p>
	  <p>The staff reserves the right to enforce these and all other rules
	  and guidelines in the manner they see best for the site.</p>
	  <p>Do not look for loopholes or try to argue technicalities in these guidelines. Follow their spirit as well as their letter.</p>
	</div>

	<div class="homeblock" id="faq">
	  <h2>FAQ</h2>
<p>
 There is no signup; you can enter any name you like (or no name, bearing in mind it can sometimes be confusing to chat with Anonymous, Anonymous and Anonymous rather than Alice, Carol and Bob).
</p>
<p>
 You may use a tripcode like Bob#putasecretpasswordhere to consistently identify yourself as that Bob!wVf.9l8o4E — this works on most similar *chan sites. Programs like Tripcode Explorer and MTY are available to search for tripcodes which form attractive patterns or words.
</p>
<p>
 This site has several features that other *chan sites often require separate userscripts for, like a Quick Reply dialog for posting and auto-updating threads. You can configure the site with the settings button at the top-right corner of the page. Different themes are also available for you to use to view the site.
</p>
<p>
 Consider donating to help keep the site running!
 {% include 'donate.html' %}
</p>
	</div>

	<div class="homeblock" id="staff">
	  <h2>Staff</h2>
	  <p>
	    <h3>Administrator</h3>
	    <div><a class="email" href="mailto:applejack@mlpchan.net">
		<span class="trip">!!Applejack</span></a> ## Admin - Anonthony!EEEEEEEEc2</div>
	  </p>
	  <p>
	    <h3>Moderators</h3>
	    <div><a class="email" href="mailto:pinkiepie@mlpchan.net">
		<span class="trip">!!Pinkie Pie</span></a> ## Mod - Starshine!SprintMJXo</div>
	    <div><span class="trip">!!Twilight Sparkle</span> ## Mod - Cross Breeze!Q1IPegaSus</div>
	    <div><a class="email" href="mailto:littlepip@mlpchan.net">
		<span class="trip">!!Littlepip</span></a> ## Mod - Macil!/5s/Techmk</div>
	    <div><span class="trip">!!Trixie</span> ## Mod - Marceline!dxpBMarcyU</div>
	    <div><span class="trip">!!Iron Will</span> ## Mod - Eudae!K0I3bDrQc6</div>
	    <div><a class="email" href="mailto:tiptoe@mlpchan.net">
		<span class="trip">!!Tiptoe</span></a> ## Mod - milky!miiiiilklE</div>
	    <div><a class="email" href="mailto:fluttershy@mlpchan.net">
		<span class="trip">!!Fluttershy</span></a> ## Mod - Tom' the /♥/ bringer!tHOMASuvlQ</div>
	    <div><a class="email" href="mailto:spike@mlpchan.net">
		<span class="trip">!!Spike</span></a> ## Mod - Anonymous</div>
	    <div><span class="trip">!!Rainbow Dash</span> ## Mod - Lawny!uIsTheSex6</div>
	    <div><a class="email" href="mailto:derpy@mlpchan.net">
		<span class="trip">!!Derpy</span></a> ## Mod - Derpymouz!TheMouZ8I6</div>
	  </p>
	</div>
	{{ boardlist.bottom }}
	<footer>
		<p class="unimportant" style="margin-top:20px;text-align:center;">Powered by <a href="http://tinyboard.org/">Tinyboard</a> {{ config.version }} | <a href="http://tinyboard.org/">Tinyboard</a> Copyright &copy; 2010-2012 Tinyboard Development Group</p>
		{% for footer in config.footer %}<p class="unimportant" style="text-align:center;">{{ footer }}</p>{% endfor %}
	</footer>
</body>
</html>
