<header><div class="subtitle"><p><a href="?/IP/{{ mask|mask_url }}">Return to IP page</a></p></div></header>

{% if ban_history|count == 0 %}
	<p style="text-align:center" class="unimportant">
	({% trans %}There is no ban history  for {{ mask }}.{% endtrans %})
	</p>
{% else %}
	<form> {# This is silly, but the form tag triggers certain styles that we want to apply to this table. #}
		<table class="banlist" style="width:100%">
			<tr>
				<th>{% trans 'IP address/mask' %}</th>
				<th>{% trans 'Status' %}</th>
				<th>{% trans 'Reason' %}</th>
				<th>{% trans 'Board' %}</th>
				<th>{% trans 'Type' %}</th>
				<th>{% trans 'Set' %}</th>
				<th>{% trans 'Duration' %}</th>
				<th>{% trans 'Expires' %}</th>
				<th>{% trans 'Seen' %}</th>
				<th>{% trans 'Staff' %}</th>
			</tr>
			{% for ban in ban_history %}
				<tr>
					<td style="white-space: nowrap">
						<a href="?/IP/{{ ban|mask|mask_url }}">{{ ban|mask }}</a>
					</td>
					<td>
						{% if ban.status == constant('BAN_STATUS_ACTIVE') %}{% trans 'Active' %}
						{% elseif ban.status == constant('BAN_STATUS_EXPIRED') %}{% trans 'Expired' %}
						{% elseif ban.status == constant('BAN_STATUS_LIFTED') %}{% trans 'Lifted on ' %}{{ ban.lifted|date(config.post_date) }}
						{% endif %}
					</td>
					<td>
						{% if ban.reason %}
							{{ ban.reason }}
						{% else %}
							-
						{% endif %}
					</td>
					<td  style="white-space: nowrap">
						{% if ban.board %}
							{{ config.board_abbreviation|sprintf(ban.board) }}
						{% else %}
							<em>{% trans 'all boards' %}</em>
						{% endif %}
					</td>
					<td style="white-space: nowrap">
						{{ ban.ban_type|ban_type_name }}
					</td>
					<td style="white-space: nowrap">
						<span title="{{ ban.set|date(config.post_date) }}">
							{{ ban.set|ago }} ago
						</span>
					</td>
					<td style="white-space: nowrap">
						{% if ban.expires == 0 %}
							-
						{% else %}
							{{ (ban.expires - ban.set + time()) | until }}
						{% endif %}
					</td>
					<td style="white-space: nowrap">
						{% if ban.expires == 0 %}
							<em>{% trans 'never' %}</em>
						{% else %}
							{{ ban.expires|date(config.post_date) }}
							{% if ban.expires > time() %}
									<small>(in {{ ban.expires|until }})</small>
							{% endif %}
						{% endif %}
					</td>
					<td>
						{%  if ban.seen %}
							{% trans 'Yes' %}
						{%  else %}
							{% trans 'No' %}
						{%  endif %}
					</td>
					<td>
						{% if ban.username %}
							{% if mod|hasPermission('view_banstaff') %}
								<a href="?/new_PM/{{ ban.username }}">{{ ban.username }}</a>
							{% else %}
								{% if mod|hasPermission('view_banquestionmark') %}
									<em>?</em>
								{% else %}

								{% endif %}
							{% endif %}
						{% elseif ban.mod == -1 %}
							<em>system</em>
						{% else %}
							<em>{% trans 'deleted?' %}</em>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</table>
	</form>
{% endif %}

{% if count > ban_history|count %}
	<p class="unimportant" style="text-align:center;word-wrap:break-word">
		{% for i in range(0, (count - 1) / config.mod.banhistory_page) %}
			<a href="?/banhistory/{{ mask|mask_url }}/{{ i + 1 }}">[{{ i + 1 }}]</a>
		{% endfor %}
	</p>
{% endif %}
