{% if new %}
	{% set action = '?/users/new' %}
{% else %}
	{% set action = '?/users/' ~ user.id %}
{% endif %}

<form name="moduser" action="{{ action }}" method="post">
	<table>
		<tr>
			<th>{% trans 'Username' %}</th>
			<td>
				{% if new or mod|hasPermission('editusers') %}
					<input size="20" maxlength="30" type="text" name="username" value="{{ user.username }}" autocomplete="off">
				{% else %}
					{{ user.username }}
				{% endif %}
			</td>
		</tr>
		{% if new or mod|hasPermission('editusers') or (mod|hasPermission('change_password') and user.id == mod.id) %}
		<tr>
			<th>{% trans 'Password' %}</th>
			<td>
				{% if new %}
					<input size="20" maxlength="100" type="password" name="password" value="" autocomplete="off">
				{% else %}
					<a href="{{ '?/users/' ~ user.id ~ '/change_password' }}">Change</a>
				{% endif %}
			</td>
		</tr>
		{% endif %}
		<tr>
			<th>{% trans 'Signature' %}</th>
			<td>
				{% if new %}
					<input type="text" name="name" {% if new %}value="{{ config.anonymous }}"{% endif %}>
				&nbsp;
				{% else %}
					<span class="namepart">
						<span class="name">{{ user.signed_name }}</span>
						<span class="trip">{{ user.signed_trip }}</span>
					</span>
				{% endif %}
				<br>
				<small>May be used to sign bans with.</small>
				{% if not new and (mod|hasPermission('editusers') or (mod|hasPermission('change_signature') and user.id == mod.id)) %}
					<div><a href="{{ '?/users/' ~ user.id ~ '/change_signature' }}">Change</a></div>
				{% endif %}
			</td>
		</tr>
		{% if new or mod|hasPermission('promoteusers') %}
			<tr>
				<th>{% trans 'Class' %}</th>
				<td>
					<ul style="padding:5px 8px;list-style:none">
						<li>
							<label><input type="radio" name="type" id="founder" value="{{ constant('FOUNDER') }}"
									{{ user.type == constant('FOUNDER') ? 'checked' : '' }}>
 							 {% trans 'Founder' %}</label>
 						</li>
 						<li>
							<label><input type="radio" name="type" id="developer" value="{{ constant('DEVELOPER') }}"
									{{ user.type == constant('DEVELOPER') ? 'checked' : '' }}>
 							 {% trans 'Developer' %}</label>
 						</li>
 						<li>
							<label><input type="radio" name="type" id="janitor" value="{{ constant('JANITOR') }}"
									{{ user.type == constant('JANITOR') ? 'checked' : '' }}>
 							 {% trans 'Janitor' %}</label>
 						</li>
 						<li>
							<label><input type="radio" name="type" id="mod" value="{{ constant('MOD') }}"
									{{ (user.type == constant('MOD') or new) ? 'checked' : '' }}>
 							 {% trans 'Mod' %}</label>
 						</li>
 						<li>
							<label><input type="radio" name="type" id="admin" value="{{ constant('ADMIN') }}"
									{{ user.type == constant('ADMIN') ? 'checked' : '' }}>
 							 {% trans 'Admin' %}</label>
 						</li>
					</ul>
				</td>
			</tr>
		{% endif %}
		<tr>
			<th>{% trans 'Boards' %}</th>
			<td>
				<ul style="padding:0 5px;list-style:none">
					<li>
						<label><input type="checkbox" id="allboards" name="allboards"
						{% if '*' in user.boards or new %} checked{% endif %}
						{% if not mod|hasPermission('editusers') %}
						 disabled
						{% endif %}
						>
						 "*" - {% trans 'All boards' %}</label>
					</li>
					{% for board in boards %}
						<li>
							<label><input type="checkbox" id="board_{{ board.uri }}" name="board_{{ board.uri }}"
								{% if board.uri in user.boards %} checked{% endif %}
								{% if not mod|hasPermission('editusers') %}
								 disabled
								{% endif %}
								>
							 {{ config.board_abbreviation|sprintf(board.uri) }}
								 -
								 {{ board.title }}
							</label>
						</li>
					{% endfor %}
				</ul>
			</td>
		</tr>
	</table>

	<ul style="padding:0;text-align:center;list-style:none">
		{% if new %}
			<li><input type="submit" value="{% trans 'Create user' %}"></li>
		{% else %}
			{% if mod|hasPermission('editusers') %}
				<li><input type="submit" value="{% trans 'Save changes' %}"></li>
			{% endif %}
			{% if mod|hasPermission('deleteusers') %}
				<li><input name="delete" onclick="return confirm('Are you sure you want to permanently delete this user?');" type="submit" value="{% trans 'Delete user' %}"></li>
			{% endif %}
		{% endif %}
	</ul>
</form>

{% if logs|count > 0 %}
	<table class="modlog" style="width:600px">
		<tr>
			<th>{% trans 'IP address' %}</th>
			<th>{% trans 'Time' %}</th>
			<th>{% trans 'Board' %}</th>
			<th>{% trans 'Action' %}</th>
		</tr>
		{% for log in logs %}
			<tr>
				<td class="minimal">
					<a href="?/IP/{{ log.ip|ipToUserRange|url_encode }}">{{ log.ip }}</a>
				</td>
				<td class="minimal">
					<span title="{{ log.time|date(config.post_date) }}">{{ log.time|ago }}</span>
				</td>
				<td class="minimal">
					{% if log.board %}
						<a href="?/{{ config.board_path|sprintf(log.board) }}">{{ config.board_abbreviation|sprintf(log.board) }}</a>
					{% else %}
						-
					{% endif %}
				</td>
				<td>
					{{ log.text|raw }}
				</td>
			</tr>
		{% endfor %}
	</table>
	<p style="text-align:center" class="unimportant">
		<a href="?/log:{{ user.username|url_encode }}">{% trans 'View more logs for this user.' %}</a>
	</p>
{% endif %}
