<form name="moduser_change_password" action="{{ action }}" method="post">
	<table>
		<tr>
			<th>{% trans 'Username' %}</th>
			<td>
				{{ user.username }}
			</td>
		</tr>
		<tr>
			<th>{% trans 'New Password' %}</th>
			<td>
				<input size="20" maxlength="100" type="password" name="password" value="" autocomplete="off">
			</td>
		</tr>
		<tr>
			<th>{% trans 'Re-type New Password' %}</th>
			<td>
				<input size="20" maxlength="100" type="password" name="password2" value="" autocomplete="off">
			</td>
		</tr>
	</table>

	<ul style="padding:0;text-align:center;list-style:none">
		<li><input type="submit" value="{% trans 'Submit' %}"></li>
	</ul>
</form>
