{% set show_all_url_prefix = "?/posts/" ~ (mask|mask_url) %}
{% include 'mod/view_posts.html' %}

{% if mod|hasPermission(config.mod.view_notes) %}
	<fieldset id="notes">
		<legend>
			{% set notes_on_record = 'note' ~ (notes|count != 1 ? 's' : '') ~ ' on record' %}
			{% if notes|count == config.mod.ip_range_page_max_notes %}
				&gt;{{ notes|count|e }} {% trans notes_on_record %}
				 -
				 <a href="?/notes/{{ mask|mask_url|e }}">{% trans 'Show all' %}</a>
			{% else %}
				{{ notes|count|e }} {% trans notes_on_record %}
			{% endif %}
		</legend>

		{% if notes|count > 0 %}
			<table class="modlog">
				<tr>
					<th>{% trans 'Staff' %}</th>
					<th>{% trans 'IP' %}</th>
					<th>{% trans 'Note' %}</th>
					<th>{% trans 'Date' %}</th>
					{% if mod|hasPermission(config.mod.remove_notes) %}
						<th>{% trans 'Actions' %}</th>
					{% endif %}
				</tr>
				{% for note in notes %}
					<tr>
						<td class="minimal">
							{% if note.username %}
								<a href="?/new_PM/{{ note.username|e }}">{{ note.username|e }}</a>
							{% else %}
								<em>{% trans 'deleted?' %}</em>
							{% endif %}
						</td>
						<td class="minimal">
							{{ note|mask|e }}
						</td>
						<td>
							{{ note.body }}
						</td>
						<td class="minimal">
							{{ note.time|date(config.post_date)|e }}
						</td>
						{% if mod|hasPermission(config.mod.remove_notes) %}
							<td class="minimal">
								<a href="?/IP/{{ note|mask|mask_url|e }}/remove_note/{{ note.id|e }}">
									<small>[{% trans 'remove' %}]</small>
								</a>
							</td>
						{% endif %}
					</tr>
				{% endfor %}
			</table>
		{% endif %}

		{% if mod|hasPermission(config.mod.create_notes) %}
			<form action="" method="post" class="noteform">
				<table>
					<tr>
						<th>{% trans 'Staff' %}</th>
						<td>{{ mod.username|e }}</td>
					</tr>
					<tr>
						<th>
							<label for="note">{% trans 'Note' %}</label>
						</th>
						<td>
							<textarea id="note" name="note" rows="5" cols="30"></textarea>
						</td>
					</tr>
					<tr>
						<td></td>
						<td><input type="submit" value="{% trans 'New note' %}"></td>
					</tr>
				</table>
			</form>
		{% endif %}
	</fieldset>
{% endif %}

{% if bans|count > 0 and mod|hasPermission(config.mod.view_ban) %}
	<fieldset id="bans">
		<legend>
			{% set bans_on_record = 'ban' ~ (bans|count != 1 ? 's' : '') ~ ' on record' %}
			{% if bans|count == config.mod.ip_range_page_max_bans %}
				&gt;{{ bans|count|e }} {% trans bans_on_record %}
				 -
				 <a href="?/bans/{{ mask|mask_url|e }}">{% trans 'Show all' %}</a>
			{% else %}
				{{ bans|count|e }} {% trans bans_on_record %}
			{% endif %}
		</legend>

		{% for ban in bans %}
			<form action="" method="post" class="userbanlist">
				<table>
					<tr>
						<th>{% trans 'Status' %}</th>
						<td>
							{% if ban.expires != 0 and ban.expires < time() %}
								{% trans 'Expired' %}
							{% else %}
								{% trans 'Active' %}
							{% endif %}
						</td>
					</tr>
					<tr>
						<th>{% trans 'IP' %}</th>
						<td>{{ ban|mask }}</td>
					</tr>
					<tr>
						<th>{% trans 'Reason' %}</th>
						<td>
							{% if ban.reason %}
								{{ ban.reason }}
							{% else %}
								<em>{% trans 'no reason' %}</em>
							{% endif %}
						</td>
					</tr>
					<tr>
						<th>{% trans 'Board' %}</th>
						<td>
							{% if ban.board %}
								{{ config.board_abbreviation|sprintf(ban.board) }}
							{% else %}
								<em>{% trans 'all boards' %}</em>
							{% endif %}
						</td>
					</tr>
					<tr>
						<th>{% trans 'Type' %}</th>
						<td>
							{% if ban.ban_type == constant('FULL_BAN') %}{% trans 'Full ban' %}
							{% elseif ban.ban_type == constant('IMAGE_BAN') %}{% trans 'Image ban' %}
							{% endif %}
						</td>
					</tr>
					<tr>
						<th>{% trans 'Set' %}</th>
						<td>{{ ban.set|date(config.post_date)|e }}</td>
					</tr>
					<tr>
						<th>{% trans 'Expires' %}</th>
						<td>
							{% if ban.expires %}
								{{ ban.expires|date(config.post_date)|e }}
							{% else %}
								<em>{% trans 'never' %}</em>
							{% endif %}
						</td>
					</tr>
					<tr>
						<th>{% trans 'Seen' %}</th>
						<td>
							{%  if ban.seen %}
								{% trans 'Yes' %}
							{%  else %}
								{% trans 'No' %}
							{%  endif %}
						</td>
					</tr>
					<tr>
						<th>{% trans 'Staff' %}</th>
						<td>
							{% if ban.username %}
								{{ ban.username|e }}
							{% else %}
								<em>{% trans 'deleted?' %}</em>
							{% endif %}
						</td>
					</tr>
				</table>
				<input type="hidden" name="ban_id" value="{{ ban.id|e }}">
				<input type="submit" name="unban" value="{% trans 'Remove ban' %}">
			</form>
		{% endfor %}
	</fieldset>
{% endif %}

{% if mod|hasPermission(config.mod.ban) %}
	<fieldset>
		<legend>{% trans 'New ban' %}</legend>
		{% set redirect = '?/IP/' ~ mask|mask_url ~ '#bans' %}
		{% include 'mod/ban_form.html' %}
	</fieldset>
{% endif %}

{% if ban_history|count > 0 and mod|hasPermission(config.mod.view_banhistory) %}
	<fieldset id="banhistory">
		<legend>
			{% set bans_on_record = 'historic ban' ~ (ban_history|count != 1 ? 's' : '') ~ ' on record' %}
			{% if ban_history|count == config.mod.ip_range_page_max_banhistory %}
				&gt;{{ ban_history|count|e }} {% trans bans_on_record %}
				 -
				 <a href="?/banhistory/{{ mask|mask_url|e }}">{% trans 'Show all' %}</a>
			{% else %}
				{{ ban_history|count|e }} {% trans bans_on_record %}
			{% endif %}
		</legend>

		<form> {# This is silly, but the form tag triggers certain styles that we want to apply to this table. #}
			<table class="banlist" style="width:100%">
				<tr>
					<th>{% trans 'IP address/mask' %}</th>
					<th>{% trans 'Status' %}</th>
					<th>{% trans 'Reason' %}</th>
					<th>{% trans 'Board' %}</th>
					<th>{% trans 'Type' %}</th>
					<th>{% trans 'Set' %}</th>
					<th>{% trans 'Duration' %}</th>
					<th>{% trans 'Expires' %}</th>
					<th>{% trans 'Seen' %}</th>
					<th>{% trans 'Staff' %}</th>
				</tr>
				{% for ban in ban_history %}
					<tr>
						<td style="white-space: nowrap">
							<a href="?/IP/{{ ban|mask|mask_url|e }}">{{ ban|mask }}</a>
						</td>
						<td>
							{% if ban.status == constant('BAN_STATUS_ACTIVE') %}{% trans 'Active' %}
							{% elseif ban.status == constant('BAN_STATUS_EXPIRED') %}{% trans 'Expired' %}
							{% elseif ban.status == constant('BAN_STATUS_LIFTED') %}{% trans 'Lifted on ' %}{{ ban.lifted|date(config.post_date)|e }}
							{% endif %}
						</td>
						<td>
							{% if ban.reason %}
								{{ ban.reason }}
							{% else %}
								-
							{% endif %}
						</td>
						<td  style="white-space: nowrap">
							{% if ban.board %}
								{{ config.board_abbreviation|sprintf(ban.board) }}
							{% else %}
								<em>{% trans 'all boards' %}</em>
							{% endif %}
						</td>
						<td style="white-space: nowrap">
							{% if ban.ban_type == constant('FULL_BAN') %}{% trans 'Full ban' %}
							{% elseif ban.ban_type == constant('IMAGE_BAN') %}{% trans 'Image ban' %}
							{% endif %}
						</td>
						<td style="white-space: nowrap">
							<span title="{{ ban.set|date(config.post_date) }}">
								{{ ban.set|ago }} ago
							</span>
						</td>
						<td style="white-space: nowrap">
							{% if ban.expires == 0 %}
								-
							{% else %}
								{{ (ban.expires - ban.set + time()) | until }}
							{% endif %}
						</td>
						<td style="white-space: nowrap">
							{% if ban.expires == 0 %}
								<em>{% trans 'never' %}</em>
							{% else %}
								{{ ban.expires|date(config.post_date) }}
								{% if ban.expires > time() %}
										<small>(in {{ ban.expires|until }})</small>
								{% endif %}
							{% endif %}
						</td>
						<td>
							{%  if ban.seen %}
								{% trans 'Yes' %}
							{%  else %}
								{% trans 'No' %}
							{%  endif %}
						</td>
						<td>
							{% if ban.username %}
								{% if mod|hasPermission(config.mod.view_banstaff) %}
									<a href="?/new_PM/{{ ban.username|e }}">{{ ban.username|e }}</a>
								{% else %}
									{% if mod|hasPermission(config.mod.view_banquestionmark) %}
										<em>?</em>
									{% else %}

									{% endif %}
								{% endif %}
							{% elseif ban.mod == -1 %}
								<em>system</em>
							{% else %}
								<em>{% trans 'deleted?' %}</em>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</table>
		</form>
	</fieldset>
{% endif %}
