{% for board_posts in posts %}
	<fieldset>
		<legend>
			<a href="?/{{ config.board_path|sprintf(board_posts.board.uri) }}">
				{{ config.board_abbreviation|sprintf(board_posts.board.uri) }}
				 -
				 {{ board_posts.board.title }}
			</a>
      {% if show_all_url_prefix %}
			 -
			 <a href="{{ show_all_url_prefix }}/{{ board_posts.board.uri }}">{% trans 'Show all' %}</a>
      {% endif %}
		</legend>
		{{ board_posts.posts|join('<hr>') }}
	</fieldset>
{% else %}
  {% trans 'No posts were found.' %}
{% endfor %}
