/**
 * aloe-and-lotus
 *
 * Created on 3/27/2015
 * Ported from old Ponychan. Originally written by Rellek
 *
 *
 */
/* Imports */
@import "common/pony-kusaba.css?v=3268520798";
@import "common/bubble-buttons.css?v=3268520798";

body {
	background: url(img/aloe-and-lotus/bg.png)
		bottom 80px right 30px no-repeat,
	radial-gradient( at bottom 270px right 230px,
			rgb(215, 240, 238),
			rgb(205, 241, 255),
			rgb(156, 226, 255));
}

/* All links, including the ref-links inside the post body. */
a, a:visited, a.bodylink {
	color: rgb(5, 146, 196);
}

/* Mouse over link */
a:hover {
	color: rgb(126, 201, 229);
	text-shadow: 0 0 1px rgb(182, 232, 243);
}

/* Set the border here */
input[type=text], input[type=password], textarea {
	background-color: rgb(255, 255, 255);
	border: 2px solid rgb(194, 208, 215);
}

/* What color do you want the border to glow here */
input[type=text]:focus, input[type=password]:focus, textarea:focus {
	border: 2px solid rgb(178, 190, 196);
}
hr, fieldset {
	border-color: rgb(161, 208, 231);
}
/* Table headers, including the post form */
/* as well as many staff dashboard headers */
form table tr th {
	font-family: "Open Sans", sans-serif;
	letter-spacing: 1px;
	background-color: rgb(61, 162, 216);
	color: rgb(251, 251, 248);
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.30);
}

/* -- Setting the common color scheme -- */
/* Heading colors */
h1, h2, h3, h4, h5, h6, header h1, .heading {
	color: rgb(244, 178, 209);
}

/* Head bar backgrounds */
.boardlist.top, #qrmove, .ban h2 {
	background-color: rgb(219, 98, 166);
	color: rgb(232, 240, 238);
}

/* Head bar links */
.boardlist.top a, .top a:visited, #qrmove a, #qrmove a:visited {
	color: white;
}

/* Head bar links on hover */
.boardlist.top .boardlistpart a:hover, #qrmove a:hover, .top .boardlistactive, .top .boardlistactive:visited {
	color: rgb(255, 221, 243);
}

/* Block items */
div.post.reply, #watcherScreen, .post-hover, .pages, .catathread, #updateSettings, #settingsScreen {
	background-color: rgb(255, 211, 231);
}

/* -- Navigation bar -- */
.boardlist.top .boardlistpart a:hover {
	background-color: rgb(167, 97, 201);
}

/* set the border-color property to show that the button is 'lit' */
.boardlist.top .boardlistpart a.boardlistactive, .boardlist.top .watcherButton.open {
	border-color: rgb(255, 221, 243);
}

/* Color of the 'home' link */
.boardlist.top .boardlistpart a[href="/"] {
	color: rgb(255, 218, 252);
}

/* Toggle links on the right */
.boardlist.top .watcherButton, .top .settingsButton {
	color: rgb(225, 224, 241);
}
/* Settings page */
#settingsScreen {
	background: rgb(251, 255, 253)
	linear-gradient(to bottom,
			rgb(239, 237, 238),
			rgb(220, 219, 216));
}
/* Settings headers */
#settingsScreen h1, #settingsScreen h2 {
	/* Color */
	font-family: "Open Sans", sans-serif;
	color: rgb(57, 146, 190);
	text-shadow: 1px 1px 2px white;
}

/* Watcher frame. Set a bright border. */
#watcherScreen {
	border: 2px solid rgb(255, 237, 246);
}

/* the color of 'by' in watcher */
.wname:before {
	/* The element is always there. If no nickname is given, it'll leave
		you an empty element. */
	color: #e4d2de;
}

/* -- Board Page header -- */
/* Board headline */
body > header h1 {
	font-family: "Georgia", sans-serif;
	text-shadow: 0.05rem 0.05rem 0.1rem rgb(54, 10, 90);
}

/* Board description */
header div.subtitle {
	color: white;
	text-shadow: 0.05rem 0.05rem 0.1rem rgba(0,0,0,0.7);
	font: bold 130% "Adobe Caslon Pro", "Times New Roman", serif;
}

/* 'Posting mode: reply' bar */
div.banner {
	background-color: rgb(77, 167, 201);
}

/* -- Post form -- */
/* 'Open the Quick reply dialog' */
/* Make a good button out of this. */
#qrDisplayButton {
	color: rgb(62, 174, 229);
	text-transform: lowercase;
	background-color: rgb(205, 241, 255);
	border: 1px solid rgb(61, 162, 216);
	margin: 2em;
	padding: 0.3em 1em;
	border-radius: 0.4rem;
	position: relative;
	top: 0.5em;
}
#qrDisplayButton:hover {
	color: rgb(57, 151, 200);
	background-color: rgb(226, 248, 255);
	box-shadow: 0 0 0.2rem rgba(0,0,0,0.3);
}
form[name="post"] th, .reply, .pages {
	padding: 0.4em;
	border-radius: 0.1rem 0.3rem 0.5rem 0.3rem;
}

/* Staff notice */
div.blotter {
	border: 1px solid rgb(225, 128, 175);
	color: white;
}

/* -- Posts -- */
div.post.reply {
	border-style: solid;
	border-color: rgb(200, 119, 176);
}
.wthread, .post-hover {
	padding: 3px;
}
.post-hover, .hashtag {
	border-color: rgb(131, 97, 125);
	background-color: rgb(255, 211, 231);
}
.hashtag {
	padding: 0.2em 0.9em;
}

p.intro span.subject, .wsubject {
	font-family: "Philosopher", sans-serif;
	color: rgb(68, 113, 183);
}

p.intro span.name,p.intro a.email span.name, p.intro a.email:hover span.name, .wname {
	color: rgb(42, 95, 190);
}

a.email {
	border-color: rgb(46, 159, 221);
	/* change the underline color. */
}

span.trip, .wtrip {
	font-family: "Ubuntu", monospace;
	color: rgb(86, 131, 141);
}

p.intro a.post_no {
	/* Make this a deeper color than most links */
	color: rgb(105, 155, 181);
}

p.intro a.post_no:hover {
	color: rgb(127, 182, 207);
}
div.post.reply.highlighted {
	/* Makes all borders solid. */
	background-color: rgb(255, 226, 242);
}
.post-inline {
	/* 	as nesting iterations approach infinity,
	 	what background color does it approach? */
	background-color: rgba(255,255,255,0.1);
}

span.quote {
	color: rgb(181, 93, 151);
	font: bold 110% "Philosopher", "Calibri", sans-serif;
	text-shadow: 1px 1px 1px rgba(255,255,255, 0.30);
}
span.omitted, .toolong {
	color: gray;
	text-shadow: 1px 1px 2px white;
}

/* Footer */
.boardlist.bottom {
	color: inherit;
}


.wname:before {
	color: rgb(255, 228, 239);
}

/* The color of the ban page table */
.ban {
	border-color: rgb(70, 153, 227);
}

/* Page numbers */
div.pages {
	color: rgb(171, 149, 159);
}
/* homepage */
.homepage > header h1 {
	color: rgb(227, 126, 174);
	text-shadow: 	1px 1px 1px rgb(234, 132, 181),
	0 0 16px rgb(251, 239, 248);
}
.homepage hr {
	border-top: 2px solid rgb(71, 154, 227);
}
.homepage .subtitle {
	color: white;
	text-shadow: 0.1rem 0.1rem 0.2rem rgba(0,0,0,0.4);
	font-size: 180%;
}
.homeblock {
	border: 2px solid rgb(72, 155, 227);
	line-height: 140%;
	margin-top: 2em;
}
.homeblock h2 {
	color: rgb(153, 106, 186);
}
.homeblock h3 {
	color: rgb(153, 106, 186);
}
.homeblock > h2 {
	font-family: "Open Sans", sans-serif;
	font-size: 150%;
	margin: -25px -17px 0;
	/* We must use pixels here because we */
	/* need something that scales linear with zoom functions */
	color: rgb(247, 247, 247);
	padding: 0.2em 0.7em;
	border-radius: 0.5em 0.5em 0 0;
	background-color: rgb(73, 156, 227);
}
.homeblock > h2 + div {
	/* The body container */
	margin-top: 1em;
}
.homeblock .unimportant {
	font-family: monospace;
	text-transform: uppercase;
}
/* Flex recent posts */
#recent_posts {
	overflow-x: visible;
}
.recent_posts_parent {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}
.recent_post {
	flex: 1 0 auto;
}
