@import "common/pony-kusaba.css?v=572120270";
@import "common/razor-buttons.css?v=10701602";

body {
    background-color: rgb(255,239,173);
    background-image: radial-gradient(
        ellipse at bottom,
            rgba(255, 255, 255, 0.2) 0%,
            rgba(0,0,0,0) 50%,
            rgba(0, 0, 0, 0) 100%),
        linear-gradient(to bottom,
            rgba(145, 47, 47, 0.1),
            rgba(0,0,0,0.0) 10em)

}
a, a:visited {
    color: #d92525;
}
a:hover		{
    color: #fc7272;
}
header, header > h1 {
    font-family: "Adobe Caslon Pro", "Times New Roman", serif;
}
input[type=text], input[type=password], textarea {
    border: 1px solid rgb(173, 128, 65);
}
input[type=text]:focus, input[type=password]:focus, textarea:focus {
    border: 1px solid black;
}
form table tr th {
    background: #fdbc60;
}


/* Setting the color scheme */
h1, h2, h3, h4, h5, h6, header h1, .heading {
    color: rgb(115, 32, 21);
}
hr {
    background-color: #E4D5B5;
    border: 0px;
    height: 1px;
    margin: 0px;
}
div.post.reply, .wthread, .post-hover, div.pages, .catathread, #updateSettings, #settingsScreen  {
    padding: 0.5em;
    border-style: solid;
    background: #ffd990;
    border-color: rgb(229, 214, 139);
}
.boardlist.top, #qrmove, #updateSettings {
    background-color: #91ca40;
}
.boardlist.top .boardlistpart a, .boardlist.top .boardlistpart a:visited, #qrmove a, #qrmove a:visited {
    color: #203f0c;
}
.boardlist.top .boardlistpart a:hover, #qrmove a:hover, .top .boardlistactive, .top .boardlistactive:visited {
    color: rgb(32, 63, 12);
    box-shadow: inset 0 0 1em rgba(0,0,0,0.3);
}



/* Navigation bar */
.boardlist.top .boardlistpart a:hover {
    background: rgb(0,64,64);
}
.boardlist.top .boardlistpart a.boardlistactive, .boardlist.top .watcherButton.open {
    border-color: #f3d634;
}
.boardlist.top .boardlistpart a[href="/"] {
    color: rgb(53, 86, 6);
}




/* Board Page header */
body > header h1 {
    font-weight: bold;
    text-transform: lowercase;
    color: #fdbc61;
}
body > header h1:before, body > header h1:after {
    display: inline-block;
    vertical-align: bottom;
    margin: 0 4%;
    content: url('img/applejack/applejack_freckles_l.png');
}
body > header h1:after {
    transform: rotateZ(180deg) translateY(15px);
    transform-origin: center;
}
.subtitle {
    color: rgb(139, 130, 93);
}

div.banner {
    background: #E7D794;;
    color: white;
}

form th:after {
    color: #fff;
    font-size: 120%;
    content: " :";
}
/* Threads */
.postfooter a:first-child:before {
    content: url(img/applejack/applejack_quickreply.png);
    position: relative;
    right: 2px;
    top: 2px;
}
/* Posts */
.post {
    line-height: 140%;
}

.postHider {
    margin-top: -2px;
}

.postHider a {
    color: rgb(182, 170, 105);
}

.intro {
    margin: 0;
}
p.intro span.subject, .wsubject {
    color: rgb(153,136,34);
    font-weight: normal;
    font-style: italic;
}
p.intro span.subject::after {
    content: " — ";
}
p.intro span.name,p.intro a.email span.name, p.intro a.email:hover span.name, .wname {
    color: rgb(55, 45, 35);
    font-weight: bold;
}
a.email {
    border-bottom: 1px dashed #382f25;
}

span.trip, .wtrip {
    color: rgb(87,147,43);
}
p.intro a.post_no {
    color: #09147E;
}
p.intro a.post_no:hover {
    color: #2F3CC2;
}
.fileinfo {
    font-size: 80%;
}
.reply .fileinfo {
    line-height: 120%;
}
/*.helphover div, .reply, .highlight, .reflinkpreview {*/
/*background: #d4dcf0;*/
/*}*/
div.post.reply.highlighted {;
    border: 1px solid rgb(201, 189, 67);
    background: rgb(255,245,205);
}

span.quote {
    color: rgb(93,157,9);
}
span.omitted, .toolong {
    color: rgb(182, 156, 45);
}



/* -- Manipulated DOM -- */

/*Settings page*/
#settingsScreen h1, #settingsScreen h2 {
    color: rgb(197, 112, 146);
}

/* Quick Reply */

/* Toggle QR */
#qrDisplayButton {
    text-transform: lowercase;
    color: rgb(44, 101, 176);
    letter-spacing: 0px;
}
#qrDisplayButton:hover {
    color: rgb(104, 102, 177);
}
#qrDisplayButton::before {
    content: "[";
    margin-right: 2px;
}
#qrDisplayButton::after {
    content: "]";
    margin-left: 2px;
}

/* Thread watcher */
#watcherScreen {
    border-color: #b3352f;
}
.wname:before {
    /* The element is always there. If no nickname is given, it'll leave
        you an empty element. */
    color: #b3352f;
}

#settingsScreen, #watcherScreen {
    box-shadow: none;
}


/* Page-specific */
.homepage > header h1 {
    text-shadow: none;
    /* Removes the default shadow. */
}
/* homepage */
.homeblock {
	border: 2px solid rgb(215, 99, 96);
	background-color: rgb(255, 249, 226);
	line-height: 140%;
	margin-top: 2em;
}
.homeblock > h2 {
	font-family: "Philosopher", serif;
	font-size: 150%;
  margin: -18px -19px 0;
	/* We must use pixels here because we */
	/* need something that scales linear with zoom functions */
	color: white;
	padding: 0.2em 0.7em;
	background-color: rgb(215, 98, 95);
}
.homeblock > h2 + div {
	/* The body container */
	margin-top: 1em;
}
.homeblock .unimportant {
	font-family: monospace;
}
