

@import "common/pony-kusaba.css";


/* Indiscriminate tags */
body {
    background: #e8e8ff;
}
a, a:visited, a:active {
    color: #0010B0 !important;
}
a:hover, .reflink a:hover {
    color: #35E !important;
}
input[type=text], input[type=password], textarea {
    border: 1px solid #90a0d0;
}
input[type=text]:focus, input[type=password]:focus, textarea:focus {
    border: 1px solid #0020c0;
}
/* Setting the color scheme */
h1, h2, h3, h4, h5, h6, header h1 {
    color: #000080;
}

.boardlist.top, #qrmove, #updateSettings {
    background-color: #152051;
    color: white;
}
.boardlist.top a, #qrmove a {
    color: #DADCF0 !important;
    border-color: #45a !important;
}
.boardlist.top a:hover, #qrmove a:hover {
    color: #e8f0ff !important;
}
/* Semantics */



/* Navigation bar */
.boardlist.top a {
    padding-left: 0.3em !important;
    padding-right: 0.3em !important;
    color: #c0c0ff !important;
    border-top-color: #45a;
}
.boardlist.top a[href="/"] {
    color: #D1D4F2 !important;
}


/* Board Page header */
div.banner {
    background: #D2D2ED;
    color: white;
}

body > header .subtitle {
    color: #465A99;
}
/* Post form */

th {
    background: #a8b8f0 !important;
}



/* Posts */
.reply, .wthread {
    background-color: #d4dcf0 !important;
}
.subject, .wsubject {
    color: #3F31C0 !important;
}
.name, a .name, .wname {
    color: #203090 !important;
}
.email {
    border-bottom: 1px dashed #6080e0 !important;
}
.trip, .wtrip {
    color: #4060b0 !important;
}
.post_no {
    color: #09147E !important;
}
.post_no:hover {
    color: #2F3CC2 !important;
}
.reply .fileinfo {
    line-height: 120%;
}
/*.helphover div, .reply, .highlight, .reflinkpreview {*/
/*background: #d4dcf0;*/
/*}*/
.reply.highlighted {
    background: #E9ECF7 !important;
    border-color: #CFDAE8;
}
.quote {
    color: #4070c0 !important;
}



/* -- Manipulated DOM -- */

/* Posts*/

/* Thread watcher */
#watcherScreen {
    color: black;
    margin: 0;
    right: 0;
    border-radius: 0 !important;
    border-color: rgb(107, 119, 169) !important;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    font-size: inherit;
}
.wthread {
    border-bottom: 1px dashed gray;
}
.wpost {
    color: #000;
}
.wlinkpart + .wname:before {
    color: #607ba3;
}
.wremove {

}
