
@import "common/pony-kusaba.css?v=325920049";

/* Indiscriminate tags */
body {
    background: #e8e8ff;
}
a, a:visited, a:active, a.bodylink {
    color: #0010B0;
}
a:hover,
a.bodylink:hover,
div.banner a:hover,
p.intro a.post_no:hover {
    color: #35E;
}
input[type=text], input[type=password], textarea {
    border: 1px solid #90a0d0;
}
input[type=text]:focus, input[type=password]:focus, textarea:focus {
    border: 1px solid #0020c0;
}
/* Setting the color scheme */
h1, h2, h3, h4, h5, h6, header h1 {
    color: #000080;
}

.boardlist.top, #qrmove, #updateSettings {
    background-color: #152051;
    color: white;
}
.boardlist.top .boardlistpart a, .boardlist.top .boardlistpart a:visited,
.boardlist.top .boardlistpart a[href="/"], #qrmove a {
    color: #c0c0ff;
    border-color: #45a;
}
.boardlist.top .boardlistpart a:hover, #qrmove a:hover {
    color: #e8f0ff;
}
.boardlist.top .boardlistpart a[href="/"] {
    color: #D1D4F2;
}


/* Board Page header */
div.banner {
    background: #D2D2ED;
    color: white;
}

header div.subtitle {
    color: #465A99;
}
/* Post form */

form table tr th {
    background: #a8b8f0;
}



/* Posts */
div.post.reply, .wthread {
    background-color: #d4dcf0;
}
p.intro span.subject, .wsubject {
    color: #3F31C0;
    font-weight: bold;
    font-style: normal;
}
p.intro span.name, p.intro a.email span.name, .wname {
    color: #203090;
}
a.email {
    border-bottom: 1px dashed #6080e0;
}
span.trip, .wtrip {
    color: #4060b0;
}
p.intro a.post_no {
    color: #09147E;
}
p.intro a.post_no:hover {
    color: #2F3CC2;
}
.reply .fileinfo {
    line-height: 120%;
}

div.post.reply.highlighted {
    background: #EDEDF9;
    border-color: #CFDAE8;
}
span.quote {
    color: #4070c0;
}


/* -- Manipulated DOM -- */

/* Thread watcher */
#watcherScreen {
    color: black;
    margin: 0;
    right: 0;
    border-radius: 0;
    border-color: rgb(107, 119, 169);
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    font-size: inherit;
}
.wthread {
    border-bottom: 1px dashed gray;
}
.wpost {
    color: #000;
}
.wname:before {
    color: #607ba3;
}
