@import "common/pony-kusaba.css?v=2409617336";
@import "common/ghost-buttons.css?v=2409617336";
@import "common/enigma-settings.css?v=2409617336";

/* Indiscriminate tags */
body {
    background: url(img/nightmare-moon/bg.png)
                no-repeat right bottom fixed rgb(36, 36, 36);
    background-size: cover;
    color: white;
}
a, a:visited, a.bodylink {
    color: rgb(52, 86, 221);
}
a:hover {
    color: rgb(98, 137, 233);
    text-shadow: 0 0 2px rgb(171, 171, 255)
}
input[type=text], input[type=password], textarea {
    border: 2px solid rgb(42, 54, 93);
}
input[type=text]:focus, input[type=password]:focus, textarea:focus {
    border: 2px solid rgb(81, 102, 174);
}
/* Setting the color scheme */
h1, h2, h3, h4, h5, h6, header h1 {
    color: rgb(255, 255, 255);
    font-family: 'Celestia', sans-serif;
    text-shadow: 0 0 5px white;
}
form table tr th, .ban h2 {
    background: rgb(19, 20, 51);
    color: rgb(219, 233, 233)
}

.boardlist.top, #qrmove, #updateSettings {
    background: rgb(2, 19, 52);
    color: white;
}
.boardlist.top .boardlistpart a, .boardlist.top .boardlistpart a:visited, #qrmove a {
    color: rgb(204, 204, 221);
    border-color: rgb(69, 69, 137);
}
.boardlist.top .boardlistpart a:hover, #qrmove a:hover {
    color: rgb(228, 240, 255);
    background: rgb(69, 69, 137);
    text-shadow: 0 0 2px white;
}


/* Navigation bar */
.boardlist.top .boardlistpart a.boardlistactive {
    border-color: rgb(69, 69, 137);
}
.boardlist.top .boardlistpart a[href="/"] {
    color: rgb(212, 224, 238);
}



/* Board Page header */
div.banner {
    background: rgb(2, 20, 43);
}
div.banner, div.banner a.unimportant {
    color: white;
}

header h1 {
    font-family: 'Celestia', sans-serif;
}

header div.subtitle {
    color: rgb(241, 241, 241);
}

/* Posts */
div.post, div.post.reply {
    border: 1px solid rgba(0,0,20,0.7);
}
div.post.reply {
    border-radius: 4px;
}
div.post.reply, div.pages {
    background: rgba(0,0,20,0.5);
    padding:0.5em;
}
div.pages a.selected {
    color: white;
}
div.post.op {
    background: rgba(28, 31, 61, 0.54)
        linear-gradient(to right,
            rgba(0, 0, 0, 0.54),
            rgba(18, 21, 53, 1));
    padding: 0.8em;
    overflow-y: hidden;
}
.postimg {
    background-color: rgb(17, 17, 48);
    border-radius: 5px;
    transition: background-color 0.25s ease-in-out;
 }
.fileinfo {
    color: rgb(167, 171, 165)
}
p.intro span.subject, .wsubject {
    color: #33C;
}
p.intro span.name, p.intro a.email span.name, .wname {
    color: rgb(37, 89, 255);
}
a.email {
    border-bottom: 1px dashed rgb(39, 90, 255);
}
span.trip, .wtrip {
    color: rgb(125, 117, 169);
}
p.intro a.post_no {
    color: rgb(152, 170, 202);
}
p.intro a.post_no:hover {
    color: rgb(193, 206, 229);
}
.reply .fileinfo {
    line-height: 120%;
}
div.post.reply.highlighted {
    background: rgb(0,0,0);
    border-color: rgb(0,0,0);
}
span.quote {
    color: rgb(65, 113, 192);
}
.spoiler {
    background-color: rgb(36, 36, 86);
}
.spoiler, div.post .body .spoiler a {
    color: rgb(36, 36, 86);
}


/* -- Manipulated DOM -- */

/* Posts*/
.post-hover {
    background-color: rgb(19, 22, 52) !important;
}
.post-inline {
    background: rgba(0,0,0,0.1);
}
/* Thread watcher */
#watcherScreen {
    color: white;
    margin: 0;
    right: 0;
    border-radius: 0;
    background: rgba(0,0,0,0.9);
    border-color: rgb(107, 119, 169);
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    font-size: inherit;
}
.wpost {
    color: white;
}
.wname:before {
    color: gray;
}

div.ban {
  border-color: black;
  background: rgb(19, 20, 51);
}
.homeblock {
	background-color: rgba(10, 11, 21, 0.8);
}
