
@import "common/pony-kusaba.css?v=2409617336";
@import "common/razor-buttons.css?v=2409617336";

body {
    background:
    url("img/rainbow-dash/rd-in-clouds.png") no-repeat right top,
    url("img/rainbow-dash/bg.png") repeat-x right top,
    linear-gradient(to bottom, rgb(210, 238, 251) 0px, rgb(232, 247, 254) 400px);
    background-color: rgb(210, 238, 251);
    font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
}
/* Indiscriminate tags */
a, a:visited, a.bodylink {
    color: rgb(197, 28, 113);
}
a:hover {
    color: rgb(211, 84, 148);
}
input[type=text], input[type=password], textarea {
    outline: none;
    border: 1px solid #90a0d0;
    padding: 2px;
    transition: all .25s ease-in-out;
    transition-property: box-shadow, border;
    line-height: 140%;
    box-shadow: inset 0 0 7px rgba(0,0,0,0.0);
}
input[type=text]:focus, input[type=password]:focus, textarea:focus {
    border: 1px solid #0020c0;
    outline: none;
    box-shadow: inset 0 0 7px rgba(0,0,0,0.1)
}
hr {
    border-color: #c0c0c0;
}
*::-webkit-input-placeholder {
    color: rgb(119, 131, 168);
}
*:-moz-placeholder { /* Firefox 18- */
    color: rgb(119, 131, 168);
}
*::-moz-placeholder {  /* Firefox 19+ */
    color: rgb(119, 131, 168);
}
*:-ms-input-placeholder {
    color: rgb(119, 131, 168);
}


/* Setting the color scheme */
.watcherMenu, .hashtag {
    background-color: rgb(243, 250, 254);
}
h1, h2, h3, h4, h5, h6 {
    color: #000080;
    font-family: sans-serif;
    letter-spacing: 0;
}
span.heading {
    color: #A92D8C;
}
header h1 {
    color: black;
    font: 5em "Allan";
    text-shadow: 0 0 0 rgb(233, 247, 253),
                 -70px 0 5px rgba(255, 0, 0, 0.2),
                 -40px 0 5px rgba(255, 165, 0, 0.2),
                 -10px 0 5px rgba(255, 255, 0, 0.2),
                 20px 0 5px rgba(0, 255, 0, 0.2),
                 50px 1px 5px rgba(0, 0, 255, 0.2),
                 90px 1px 5px rgba(165, 0, 255, 0.2) !important;
}
.boardlist.top, #qrmove, #updateSettings {
    color: white;
    background-color: rgb(18, 53, 85) !important;
}
.boardlist.top a, #qrmove a {
    color: #DADCF0;
    border-color: #45a;
}
.boardlist.top .boardlistpart a:hover, #qrmove a:hover {
    color: #e8f0ff;
}



/* Navigation bar */
.boardlist.top {
    background: rgb(18, 53, 85)
                linear-gradient(to bottom, rgba(0,0,0,0) ,rgba(0,0,0,0.15));
}
.boardlist.top .boardlistpart a, .boardlist.top .boardlistpart a:visited {
    padding-left: 0.3em;
    padding-right: 0.3em;
    color: #D1D4F2;
    border-top: 3px solid rgb(42, 73, 102);
}
.boardlist.top .boardlistpart a:hover {
    background-color: rgba(0,0,0,0.3);
}
.boardlist.top .boardlistpart a:nth-of-type(6n+1):hover, .boardlist.top .boardlistpart a.boardlistactive:nth-of-type(6n+1) {
    border-top-color: rgb(252, 151, 157);
}

.boardlist.top .boardlistpart a:nth-of-type(6n+2):hover, .boardlist.top .boardlistpart a.boardlistactive:nth-of-type(6n+2) {
    border-top-color: rgb(252, 183, 151);
}

.boardlist.top .boardlistpart a:nth-of-type(6n+3):hover, .boardlist.top .boardlistpart a.boardlistactive:nth-of-type(6n+3) {
    border-top-color: rgb(252, 249, 150);
}

.boardlist.top .boardlistpart a:nth-of-type(6n+4):hover, .boardlist.top .boardlistpart a.boardlistactive:nth-of-type(6n+4) {
    border-top-color: rgb(189, 252, 151);
}

.boardlist.top .boardlistpart a:nth-of-type(6n+5):hover, .boardlist.top .boardlistpart a.boardlistactive:nth-of-type(6n+5) {
    border-top-color: rgb(151, 222, 252);
}

.boardlist.top .boardlistpart a:nth-of-type(6n):hover, .boardlist.top .boardlistpart a.boardlistactive:nth-of-type(6n) {
    border-top-color: rgb(239, 151, 252);
}
.boardlist.top .boardlistpart a.boardlistactive {
    padding-top: 6px;
}
.boardlist.top .boardlistpart a.boardlistactive, .boardlist.top .watcherButton.open {
    background: inherit;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.8);
    text-shadow: 0 0 2px rgba(0,0,0,0.6);
}
.boardlist.top .boardlistpart a[href="/"] {
    color: #D1D4F2;
}


div.banner {
    background: rgba(63, 121, 139, 0.1);
    color: #fff;
    letter-spacing: 3px;
    font-weight: normal;
    text-transform: lowercase;
}
/* override the white font in style.css */
div.banner a {
    color: inherit;
}
div.banner .unimportant {
    float: left;
    font-size: 90%;
    letter-spacing: normal; /* This will revert the spacing on the links*/
}
div.banner .unimportant + .unimportant {
    float: right;
}

body > header {
    padding-top: 3em;
}
body > header h1 {
    font-weight: normal;
}
.subtitle {
    font: bold oblique 80%/130% sans-serif;
    letter-spacing: 1px;
    color: rgb(189, 71, 56); /* This should match her eye color */
}


/* Post form */
form th {
    text-align: right !important;
}
form th, .reply, .catathread {
    border-radius: 0.5rem 0;
}
input[type=text], input[type=email], input[type=search],
input[type=password], textarea, #watcherScreen {
    border-radius: 3px 0;
}

/* Rainbow row headers */
tr:nth-of-type(6n+1) th {
    background-color: rgb(252, 151, 157);
    border: 1px solid rgb(126, 75, 78);
}

tr:nth-of-type(6n+2) th {
    background-color: rgb(252, 183, 151);
    border: 1px solid rgb(126, 91, 75);
}

tr:nth-of-type(6n+3) th {
    background-color: rgb(252, 249, 150);
    border: 1px solid rgb(126, 124, 75);
}

tr:nth-of-type(6n+4) th {
    background-color: rgb(189, 252, 151);
    border: 1px solid rgb(94, 126, 75);
}

tr:nth-of-type(6n+5) th {
    background-color: rgb(151, 222, 252);
    border: 1px solid rgb(75, 111, 126);
}

tr:nth-of-type(6n) th {
    background-color: rgb(239, 151, 252);
    border: 1px solid rgb(119, 75, 126);
}

/* Announcements */
div.blotter {
    color: rgb(56, 56, 155);
}

/* Posts */
.post {
    line-height: 140%;
}
div.post.reply, .hashtag, .catathread {
    border: 1px solid rgb(169, 174, 177);
}
div.post.reply, .wthread, .catathread {
    padding: 3px;
}
div.post.reply, .watcherMenu, .catathread {
    background-color: rgba(255, 255, 255, 0.5);
}
div.post.reply .intro {
    padding-left: 0.3em;
}
.postHider {
    margin-top: -2px;
}
.intro {
    margin: 0;
}
p.intro span.subject, .wsubject {
    color: rgb(16, 16, 224);
    font-weight: normal;
    font-style: italic;
}
p.intro span.subject::after {
    content: " — ";
    color: gray;
}
p.intro span.name,p.intro a.email span.name, p.intro a.email:hover span.name, .wname {
    color: rgb(32, 48, 144) !important;
    font-weight: bold;
}
a.email {
    border-bottom: 1px dashed #6080e0;
}
span.trip, .wtrip {
    color: rgb(64, 96, 176);
    font-family: monospace;
}
p.intro a.post_no {
    color: #09147E;
}
p.intro a.post_no:hover {
    color: #2F3CC2;
}
.fileinfo {
    font-size: 80%;
}
.reply .fileinfo {
    line-height: 120%;
}
div.post.reply.highlighted {
    background: rgba(255, 255, 255, 0.9)
                url("img/rainbow-dash/highlight.png") no-repeat bottom left;
    transition: background-color 0.4s ease-out;

}
div.post.reply.highlighted .body {
    padding-left: 1em;
    transition: padding 0.4s cubic-bezier(.3,-0.23,.29,1);
}
div.post.reply.highlighted .postimg {
    margin-left: 1em;
    transition: margin 0.4s cubic-bezier(.3,-0.23,.29,1);
}
.op .delete {
    /* Realigns the checkboxes */
    margin-top: 4px;
}
span.omitted, .toolong {
    color: rgb(64, 64, 64);
    padding: 0.3em 2em;
}
.hashtag {
    box-shadow: none;
    color: rgb(117, 122, 152);
    text-transform: lowercase;
    border-radius: 0.5rem 0;
}
span.quote {
    color: rgb(74, 134, 30);
}


/* Footer */
div.pages {
    background: transparent;
    border: none;
}
.boardlist.bottom {
    font-size: 120%;
}



/* -- Front page specifics -- */
.homepage {
    background: rgb(232, 247, 254);
}
.homepage header {
    margin: 0 -1em !important;
    background: rgb(241, 250, 255);
    border-bottom: 1px solid rgb(185, 210, 221);
}
.homepage header h1 {
    font-size: 6em;
    color: white;
}
.homepage header + hr {
    display: none;
}
.homeblock {
    margin: 1.3em auto;
    padding: 1.5em;
    border-radius: 1.5em;
    box-shadow: inset 1px 1px 2px rgb(248, 253, 255);
}
.homepage .homeblock h2 {
    display: inline-block;
    background-color: rgb(232, 247, 254);
    padding: 0.3em 0.3em 0.2em;
    position: absolute;
    margin: -1.8em 0.6em;
}

.searchblock {
  text-align: left;
}




/* -- Manipulated DOM -- */

/*Settings page*/
#settingsScreen {
    box-shadow: 0 0 3em rgba(0,0,0,0.4);
    border-radius: 2rem 0 0 0;
    border: 1px solid rgb(131, 159, 171);
    background-image: linear-gradient(to bottom, rgb(229, 229, 229), rgb(215, 215, 215));
    color: rgb(123, 123, 123);
}
#settingsScreen label {
    color: rgb(67, 102, 115);
    font-size: 105%;
    /* font-weight: bold; */
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
}

#settingsScreen h1 {
    font: 2em "Allan";
    background-color: rgb(23, 67, 105);
    text-shadow: 0 -2px 2px rgba(0,0,0,0.2);
    padding: 0.1em;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.2));
    color: rgb(194, 194, 194);
    font-weight: normal;
    text-transform: lowercase;
}
#settingsScreen h2 {
    color: rgb(57,95,129);
}
.settings-close-button {
    color: rgb(208, 208, 208);
}

/* Thread search */
#threadsearchbox {
    font-size: 100%;
}

/* -- Quick Reply -- */

/* Toggle */
#qrtoggleoptions label {
    text-transform: lowercase;
    font-size: 150%;
    font-weight: bold;
    color: rgb(29, 66, 100);
}
#qrDisplayButton {
    text-transform: lowercase;
    color: rgb(196, 86, 140);
    letter-spacing: 0px;
    transition: letter-spacing 0.5s cubic-bezier(.64,-0.81,.36,1.34),
                color 0.3s ease-in-out;
}
#qrDisplayButton:hover {
    letter-spacing: 2px;
    color: rgb(211, 133, 176);
}
#qrDisplayButton:before {
    content: "[";
    margin-right: 2px;
    transition: margin 1s cubic-bezier(.45,-0.15,.19,1.14);
}
#qrDisplayButton:hover:before {
    margin-right: 8px;
}
#qrDisplayButton:after {
    content: "]";
    margin-left: 2px;
    transition: margin 1s cubic-bezier(.45,-0.15,.19,1.14);
}
#qrDisplayButton:hover:after {
    margin-left: 8px;
}

/* QR box */
#qr {
    border-radius: 0;
    padding: 2px;
    border-color: rgb(163, 163, 163);
}
#qr input[type=text], textarea {
    transition-property: border, flex, box-shadow;
    border-color: rgb(205, 201, 201);
    outline: none;
}
#qraddimage {
    color: inherit;
}
.qrremovethumb {
    color: #fff;
}
.mature_note {
    font-style: italic;
    color: rgba(0, 0, 0, 0.7);
}


/* Posts*/
.post-hover {
    line-height: 110%;
}
.watcherMenu, .post-hover {
    background-color: rgb(232, 246, 252) !important;
}

/* Thread watcher */
#watcherScreen {
    color: inherit;
    margin: 0;
    right: 0;
    border-radius: 0;
    border-color: rgb(107, 119, 169);
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    font-size: inherit;
}
.wlink {
    color: rgb(197, 28, 113);
}
.wpost {
    color: #000;
}
.wname::before {
    /* The element is always there. If no nickname is given, it'll leave
        you an empty element. */
    content: " by ";
    color: #607ba3;
}
.post-inline {
    /* This should make the inline posts brighter depending on how deep it's nested. */
    background-color: rgba(255,255,255,0.05) !important;
    box-shadow: none !important;
}

/* Countdown */
#updateSettings {
    color: white;
    padding: 0.5em;
    border-radius: 2rem 0 0 0;
    border: 1px solid rgb(169, 174, 177);
    border-width: 1px 0 0 1px;
    box-shadow: 0 0 2px rgba(0,0,0,0.3);
}
#updateSettings input {
    margin: 0.2em;
}
